﻿<script>
    var MaxTicks=60000;
    ALL_ACCOUNTS=1;
    window.addEventListener('Event',function(e)
    {
        var Data=e.detail;
        var Description=Data.Description;
        if(Data.Error)
        {
            SetError(Description);
        }
        else
        {
            console.log("Event:",JSON.stringify(Description));
            SetStatus(Description);
        }
    });

    window.addEventListener('Init',Init);
    window.addEventListener('UpdateInfo',UpdateFillUser);

    async function Init()
    {
        if(SMART.Num===7)
        {
            OPEN_PATH=JSON.stringify({Account:100,ID:""});
        }
        

        UpdateFillUser();
        if(OPEN_PATH && OPEN_PATH.substr(0,1)==="{")
        {
            var Params=JSON.parse(OPEN_PATH);
            idAccount.value=Params.Account;
        }
        await ShowToken();

        SetVisibleBlock("idPage",1);
        
    }
    
    
    function UpdateFillUser()
    {
        var Arr=AccToListArr(USER_ACCOUNT);
        FillSelect("idAccount",Arr);
    }
    
    
    async function ShowToken()
    {
        var ID="";
        var Currency=SMART.Num;
        idTokenTitle.innerText=SMART.Name;
        
        idUserAmount.innerText=FLOAT_FROM_COIN(await AGetBalance(+idAccount.value,Currency,ID));

        var Info=await ACall(0,"GetInfo");
        var CurName=CurrencyName(Info.Currency);
        var CurName2=SMART.ShortName;

        idTotal1.innerText=Avg(FLOAT_FROM_COIN(Info.Pool1));
        idTotal2.innerText=Avg(FLOAT_FROM_COIN(Info.Pool2));
        idName1.innerText=CurName;
        idName2.innerText=CurName2;
        
        idTotal0.innerText=Avg(Info.Price);
        idName0.innerText=""+CurName+" per "+CurName2;
        
        

        idImgHolder.innerHTML=GetImgStr(ID,"IconImg");
        ConvertTokenImages();
        bUpdateShow=0;
    }
    
    function GetImgStr(ID,classname)
    {
        if(!classname)
            classname="";
        if(!ID)
        {
            var SrcPath=GetURLPath("/file/" + SMART.IconBlockNum + "/" + SMART.IconTrNum);
            if(!SMART.IconBlockNum)
                return "";
            return `<img class="${classname}" src="${SrcPath}">`;
        }
        return GetTokenImage(ID,classname);
    }
    

    async function DoSendMethod(Bt,Name,Amount,Currency)
    {
        
        var Account=+idAccount.value;
        if(!Account)
            return SetError("Pls, create and choose account");
            
        Bt.disabled=true;
        SetStatus("Send Tx");
        try
        {
        var Ret=await StartTransfer(
            {FromID:Account,ToID:SMART.Account,Value:COIN_FROM_FLOAT3(Amount),Description:"",Currency:Currency,ID:""},
            {Method:Name,Params:{}},
            MaxTicks);
        }
        catch(e)
        {
            SetError(e.Text?e.Text:String(e));
            return;
        }
        finally
        {
            Bt.disabled=false;
        }
        
        SetStatus(Ret.Text);
        UpdateDappInfo();
        UpdateFillUser();
        ShowToken();
        
    }
    
    
    async function DoBuyToken(Bt)
    {
        var Info=await ACall(0,"GetInfo");
        var Price=Info.Price*(1+Info.PercentSale/100);
        DoConfirm("Number of tokens to be purchased",`Price=${Avg(Price)}<BR><input class="amount_value" type='number' id='idItemAmount' min=0 value='1'>`,async function()
        {
            
            var Amount=Price*(+idItemAmount.value);
            if(!Amount)
                return;
                
            DoSendMethod(Bt,"DappSale",AvgBig(Amount),Info.Currency)
        });
    }
    
    

    async function DoSaleToken(Bt)
    {
        var Info=await ACall(0,"GetInfo");
        var Price=Info.Price*(1-Info.PercentBuy/100);
        
        DoConfirm("Number of tokens sold in",`Price=${Avg(Price)}<BR><input class="amount_value" type='number' id='idItemAmount' min=0 value='1'>`,async function()
        {
            
            var Amount=+idItemAmount.value;
            if(!Amount)
                return;
                
            DoSendMethod(Bt,"DappBuy",Amount,SMART.Num)
        });
    }


    function Avg(Sum)
    {
        return Math.floor(Sum*10000)/10000;
    }
    function AvgBig(Sum)
    {
        return Math.floor(1+Sum*1e9)/1e9;
    }

</script>

<style>
    body
    {
      color:white;
      background-color:#2B4050;
      padding: 0;
      margin: 0;
      font-family: -apple-system, '.SFNSText-Regular', 'San Francisco', BlinkMacSystemFont, '.PingFang-SC-Regular', 'Microsoft YaHei', 'Segoe UI', 'Helvetica Neue', Helvetica, Arial, sans-serif;
      font-size:14px;
    }


   .page
   {
        width: 320px;
        height: 100%;
        min-height: 550px;
   }


    
    .row_acc
    {
        display: flex;
        align-items: center;
        justify-content: center;
        width:310px;
        height: 32px;
        line-height: 32px;
        margin: 10px 0px 10px 0px;
        padding:0;
    }
    .row_acc select
    {
        height: 26px;
        max-width:230px;
    }
    .btn_acc
    {
        cursor:pointer;
        width:26px;
        min-width:26px;
        height:26px; 
        margin:0px 5px; 
        padding:0px;
        border: 0;
        border-radius:5px;
        fill:#000;
    }
    
    
    .btn_acc:hover
    {
        fill: #cb763a;
    }

    .title
    {
        width:70px;
    }
    
    button
    {
        margin:5px;
    }
    button:hover
    {
        cursor: pointer;
        color: #cb763a;
    }
   
    .idImgHolder
    {
        min-height:50vh;
        min-width:50vh;
    }
    .IconImg
    {
        max-height:50vh;
        max-width:50vh;
    }
    
    .bt_action
    {
        height:30px;
        width:100px;
        background-color:#E5D452;
    }
    .blue
    {
        color:lightblue;
    }
    
    .row
    {
        display: flex;
        margin: 10px;
        margin-left: 0px;
        padding:0;
        line-height: 24px;
    }
    
    .row span
    {
        width: 100px;
        text-align: left;
    }
    .value
    {
        text-align: right;
        color:orange;
        font-weight:bold;
    }
    .curname
    {
        width: 120px;
        font-size:12px;
        color:lightgreen;
    }
    
    .amount_value
    {
        height: 26px;
        width:100px;
        font-size:20px;
        border-radius:5px;
    }
    

</style>

 
<DIV align='center' id="idPage" style="display:none">
    <DIV class="page">
        <div class="row_acc">
            <p>Account:</p>
            <select size="1" id="idAccount" onchange="ShowToken()">
                <option value="0">Loading...</option>
            </select>
            <button class="btn_acc" onclick="CreateNewAccount()">
            <svg viewBox="0 0 16 16" style="height:16px"><path d="M0 7h16v2H0V7z"></path><path d="M9 0v16H7V0h2z"></path></svg>
            </button>
        </div>
        

        <h3 id="idTokenTitle"></h3>
        <div id="idImgHolder"></div>
        <DIV class="blue">Amount: <b id="idUserAmount"></b></DIV>

        <DIV>
        <button class="bt_action" onclick="DoBuyToken(this)">Buy token</button>
        <button class="bt_action" onclick="DoSaleToken(this)">Sale token</button>
        </DIV>

        <DIV class="row"><span>Avg price:</span><span id="idTotal0" class="value"></span><span class="curname" id="idName0"></span></DIV>
        <DIV class="row"><span>Total supply:</span><span id="idTotal2" class="value"></span><span class="curname" id="idName2"></span></DIV>
        <DIV class="row"><span>Assets frozen:</span><span id="idTotal1" class="value"></span><span class="curname" id="idName1"></span></DIV>

    </DIV>
</div>


