﻿<script src="/file/73163500/1">TAB main-net</script>
<!--<script src="/file/9699877/0">TAB test-net</script>-->


<script>

    ALL_ACCOUNTS=1;

    var OwnerMode=0;
    var TESTMODE=0;
    
    var glCurrentMap=0;
    
    var NewAddItem,NewAddItem2;
    var PendingMap=new Map();
    var MessageMap=new Map();
    var AnimationBlockPeriod=100;
    var MaxPendingPeriod=10;
    
    ///file/73303042/0
    //  /file/10073825/0
    // var ImgMessage="/file/9784961/0";
    // var ImgBall="/file/9814744/0";
    
    // var ImgArrow="/file/9706939/0";
    // var ImgBox="/file/9704465/0";
    // var ImgBlue="/file/9704611/0";
    // var ImgGreen="/file/9704617/0";
    // var ImgWhite="/file/9704677/0";
    // var ImgEgg="/file/9704829/0";
    
    
    var ImgMessage="/file/73302587/0";
    var ImgBall="/file/73302854/0";
    
    var ImgArrow="/file/73302620/0";
    var ImgBox="/file/73302635/0";
    var ImgBlue="/file/73302712/0";
    var ImgGreen="/file/73302721/0";
    var ImgWhite="/file/73302726/0";
    var ImgEgg="/file/73302733/0";
    
    var ItemArr=["",ImgEgg,ImgBall,"","","","","","","",ImgBox,"","","","","","","","","",ImgWhite,ImgBlue,ImgGreen];
    var FirstColorItem=20;
    var ColorArr=["white","#6DB1FF","#83FF7A"];
    
    window.addEventListener('Event',function(e)
    {
        var Msg=e.detail;
        var Data=Msg.Description;

        if(Msg.Error)
        {
            SetError(Data);
        }
        else
        if(Data.cmd)
        {
            //console.log(Data.cmd)
            if(Data.cmd==="SetMap")
            {
            }
            
            if(Data.Data && Data.Data.ID==glCurrentMap)
                DrawMap();
        }
        else
        {
            //console.log(Data);
        }
    });
    window.addEventListener('Init',async function ()
    {
        //if(INFO.NETWORK==="TEST-JINN")
        
        
        if(SMART.Num===7)
        {
            TESTMODE=1;
            AnimationBlockPeriod=10;
            
            var Data=await CallTeraProxy(0,"GetMap",{ID:1},[]);
            if(!Data)
            {
                glCurrentMap=3;
                idOwnMap.value=glCurrentMap;
                await DoGetEmpty(1);
                await DoSetOwner(1);
                AddAward();
                
                glCurrentMap=2;
                idOwnMap.value=glCurrentMap;
                await DoGetEmpty(1);
                await DoSetOwner(1);
                AddAward();

                glCurrentMap=1;
                idOwnMap.value=glCurrentMap;
                await DoGetEmpty(1);
                await DoSetOwner(1);
                AddAward();
            }
            
        }
        
        UpdateFillUser();
        
        
        
        if(OPEN_PATH && OPEN_PATH.substr(0,5)=="idMap")
            SelectMap(+OPEN_PATH.substr(5));
        else
            SelectMap(1);

        ResetMove();
        setInterval(DrawMap,10*1000);
    });
    window.addEventListener('UpdateInfo',function ()
    {
        UpdateFillUser();
    });
    

    //--------------------------------------------------------------------------- Interface
    function UpdateFillUser()
    {
        OwnerMode=0;
        var Arr=[],Arr2=[];
        for(var i=0;i<USER_ACCOUNT.length;i++)
        {
            var Item=USER_ACCOUNT[i];
            if(SMART.Owner===Item.Num)
                OwnerMode=1;

            if(Item.Currency)
                continue;
                
            if(SMART.Num!=Item.Value.Smart)                
                continue;
                

            var Value={value:Item.Num, text:Item.Num+"."+Item.Name+"  "+SUM_TO_STRING(Item.Value,Item.Currency,1)};
            if(SMART.Num===Item.Value.Smart)                
                Arr.push(Value);

            Arr2.push(Value);
        }
        
        SetVisibleBlock("mOwner",OwnerMode);


        FillSelect("idAddrUser",Arr);
        
    }
    
    function GetUserItemNum(Map)
    {
        // var Item=USER_ACCOUNT_MAP[idAddrUser.value];
        // if(!Item)
        //     return 0;
        // var PubKey=Item.PubKey;
        // if(PubKey.data)
        //     PubKey=PubKey.data;
        // var Num=PubKey[32];
            
        var Num=(+idAddrUser.value);
        if(TESTMODE)
            Num=Num%17;
            
        var CountItems=1+Map.FinishItems-Map.StartItems;
        return Map.StartItems+Num%CountItems;
    }
    
    function SetVisibles(Map)
    {
        var bEnable=1;
        if(Map)
        {
            var Delta=GetCurrentBlockNumByTime()-Map.LastAwardTime;
            if(Delta<Map.AwardPeriod && Map.AwardCount>=Map.AwardMinCount)
                bEnable=0;
            var Amount=Math.floor(Map.AwardPool/Map.AwardK);
            if(Amount<Map.MinAwardAmount)
                bEnable=0;

        }
        idAddAward.disabled=!bEnable;
        
    }
    
    
    function CreateAccount()
    {
        CreateNewAccount();
    }
    

    
    function SelectMap(ID)
    {
        glCurrentMap=ID;
        DrawMap();
    }
    
    
    async function SelectItem(ID,x,y,bMode)
    {
        var Map=await CallTeraProxy(0,"GetMap",{ID:ID},[]);
        if(!Map)
            return;
        
        var ItemNum=GetUserItemNum(Map);
        
        
        
        var Item=GetItemAt(Map,x,y);
        if(NewAddItem)
        {
            if(Item)
            {
                var Arr=GetValidDirectArr(Map,NewAddItem.x,NewAddItem.y,ItemNum);
                for(var i=0;i<Arr.length;i++)
                {
                    var Test=Arr[i];
                    if(Test.x==x && Test.y==y)
                    {
                        //open send
                        NewAddItem2=NewAddItem;
                        NewAddItem2.Item=ItemNum;
                        NewAddItem2.Direct=Test.Direct;
                        OpenSendUnit(Map,Item);
                        return;
                    }
                }
                
                
                idHelp.innerHTML=`<p>You can't take this unit...</p> <button onclick="ResetMove()" class="btn_set">cancel</button>`;
                DrawMap(1);
                return;
                
            }
        }
        else
        {
            if(Item)
            {
                //open info
                ViewUnit(Map,Item);
                return;
            }
        }
        
        var Arr=GetValidDirectArr(Map,x,y,ItemNum);
        if(!Arr.length)
        {
            NewAddItem=undefined;
            idHelp.innerHTML='<p>There must be a correct unit nearby...</p> <button onclick="ResetMove()" class="btn_set">cancel</button>';
        }
        else
        {
            NewAddItem={ID:Map.ID,x:x,y:y,Amount:0,Item:0,Direct:0,Message:0,Pending:1};
            idHelp.innerHTML='<p>Select a not empty cell to take...</p> <button onclick="ResetMove()" class="btn_set">cancel</button>';
        }
        
        DrawMap(1);
    }
    function GetValidDirectArr(Map,x,y,ItemNum)
    {
        var Arr=[];
        for(var Direct=1;Direct<=8;Direct++)
        {
            var Pos=GetDirectPos(x,y,Direct);
            var Item2=GetItemAt(Map,Pos.x,Pos.y);
            if(Item2 && Item2.Item!=1)
            {
                if(Item2.Item==ItemNum)
                    continue;
                var Item={ID:Map.ID,x:Pos.x,y:Pos.y,Direct:Direct};
                Arr.push(Item);
            }
        }
        return Arr;
    }
    
    function SetStartHelp()
    {
        if(idAddAward.disabled)
            idHelp.innerHTML='Make your move by selecting a free cell...';
        else
            idHelp.innerHTML='<p>Pls, click for add award:</p> <button onclick="AddAward()" class="btn_set">Click</button>';
    }
    function ResetMove(bNodraw)
    {
        SetStartHelp();
        NewAddItem=undefined;
        DrawMap();
    }
    
    function OpenSendUnit(Map,ItemTo)
    {
        var Amount=ItemTo.Amount;
        Amount=Math.max(Amount,Map.MinAmount);
        idAmount.value=Math.min(Amount,Map.MaxAmount);
        idAmount.MinAmount=idAmount.value;
        
        
        ResetMove();
        openModal("idAddUnit");
    }
    
    async function ViewUnit(Map,Item0)
    {
        console.log(Item0);
        
        idUnitImg.src=ItemArr[Item0.Item];
        var Item=
        {
            Account:Item0.Account,
            BlockNum:Item0.BlockNum,
            TrNum:Item0.TrNum,
            Amount:Item0.Amount,
            Message:await GetMessage(Map,Item0,1)
        };
        
        
        var Arr=[];
        var Num=0;
        for(var Name in Item)
        {
            Num++;
            var Value=Item[Name];
            if(typeof Value==="object")
                Value=JSON.stringify(Value);
            Arr.push({Num:Num,Name:Name,Value:Value})
        }
        SetGridData(Arr,"idShow",0,1);

        openModal("idUnitShow");

    }
    
    async function SendUnitTx()
    {
        var Item=NewAddItem2;
        var Account = +idAddrUser.value;
        var Amount=+idAmount.value;
        var Message=idMessage.value;
        if(!Message)
            Message=undefined;
            
        var Map=await CallTeraProxy(0,"GetMap",{ID:Item.ID},[]);
        if(!Map)
            return;
        if(!Account)
            return SetError("Please create an account first");
        if(Amount>Map.MaxAmount)
            return SetError("Max amount = "+Map.MaxAmount);
        if(Amount<idAmount.MinAmount)
            return SetError("Min amount = "+idAmount.MinAmount);
            
            

        var Params={ID:Item.ID,x:Item.x,y:Item.y,Amount:Amount,Item:Item.Item,Direct:Item.Direct,Message:Message};
        if(MSendCall(0,"Set",Params,[],Account))
        {
            var Key=""+Map.ID+":"+Item.x+":"+Item.y;
            Params.BlockNum=GetCurrentBlockNumByTime();;
            //Params.Direct=0;
            Params.Message="";
            Params.Pending=1;
            PendingMap.set(Key,Params);
            
            idMessage.value="";
            ResetMove();
        }
        
        closeModal();
        
    }
    
    function OpenRules()
    {
        openModal("idRulesShow");
        if(!window.WasOpenRules)
            SetRulesLang("eng");
            
        
        window.WasOpenRules=1;
    }
    async function SetRulesLang(name)
    {
        var Str=await await CallTeraProxy(0,"GetKey",{Key:name},[]);
        idRulesInfo.innerHTML=Str;
    }
    
    function GetPendingItem(Map,x,y,BlockNum)
    {
        var Item;
        if(NewAddItem && Map.ID==NewAddItem.ID && NewAddItem.x==x && NewAddItem.y==y)
        {
            Item=CopyObjKeys({},NewAddItem);
            Item.Item=2;
        }
        else
        {
            var Key=""+Map.ID+":"+x+":"+y;
            var Item2=PendingMap.get(Key);
            if(Item2)
            {
                if(BlockNum-Item2.BlockNum<MaxPendingPeriod)
                    Item=Item2;
                else
                    PendingMap.delete(Key);
            }
        }
        return Item;
    }
    
    function AddAward()
    {
        //glCurrentMap=idOwnMap.value;
        MSendCall(0,"AddAward",{ID:glCurrentMap},[],+idAddrUser.value);
    }
    
    
    
    //--------------------------------------------------------------------------- LIB
    
    async function GetMessage(Map,Item,bOrigin)
    {
        var Data;
        var Key=Item.BlockNum*10000+Item.TrNum;
        Data=MessageMap.get(Key);
        if(!Data)
        {
            Data=await GetBlockData(Item.BlockNum,Item.TrNum);
            MessageMap.set(Key,Data);
            //console.log(Data);
        }
        if(bOrigin)
        {
            return Data.Message?Data.Message:"";
        }
        
        return GetColored(Item,Data.Message);
    }
    function GetAccount(Item)
    {
        return GetColored(Item,Item.Account);
    }
    function GetColored(Item,Str)
    {
        var Num=Item.Item-FirstColorItem;
        var Color=ColorArr[Num];
        var Str=`<span style="color:${Color}">${Str}</span>`;
        return Str;
    }
    
    function GetBlockData(BlockNum,TrNum)
    {
        return new Promise(function(resolve, reject)
        {
            DappBlockFile(BlockNum,TrNum,function (Err,Data)
            {
                if(!Err && Data.Type===135)
                {
                    resolve(JSON.parse(Data.Params));
                }
                else
                {
                    SetError("GetBlockData: "+Data);
                    reject(Data);
                }
            });
        });
    }
    
    
    function GetDirectPos(x,y,Direct)
    {
        if(Direct==1)
            y--;
        else
        if(Direct==2)
        {
            x++;
            y--;
        }
        else
        if(Direct==3)
            x++;
        else
        if(Direct==4)
        {
            x++;
            y++;
        }
        else
        if(Direct==5)
            y++;
        else
        if(Direct==6)
        {
            x--;
            y++;
        }
        else
        if(Direct==7)
            x--;
        else
        if(Direct==8)
        {
            x--;
            y--;
        }
        return {x:x,y:y}
    }

    
    function GetItemAt(Map,x,y,bSet)
    {
        var BlockNum=GetCurBlockNum();
        var Row=Map.RowArr[y-1];
        if(Row)
        {
            var Item=Row[x-1];
            if(Item && Item.Item)
            {
                var Delta=BlockNum-Item.BlockNum;
                if(Item.Item==1 && Delta>Map.PeriodEgg)
                    return undefined;
                if(Item.Item>=Map.StartItems && Delta>Map.GamePeriod)
                {
                    if(bSet)
                    {
                        //помещаем в локальный массив трансфера // !!!!
                        if(!Map.TransferArrLoc)
                            Map.TransferArrLoc=[];
                        Item.x=x;
                        Item.y=y;
                        Map.TransferArrLoc.push(Item);
                        SetItemAt(Map,x,y,{});
                    }
                    return undefined;
                }
    
                return Item;
            }
        }
    }

    function GetCurBlockNum()
    {
        return GetCurrentBlockNumByTime();
    }
    
    function SetItemAt(Map,x,y,Item)
    {
        var Row=Map.RowArr[y-1];
        if(!Row)
        {
            Row=[];
            Map.RowArr[y-1]=Row;
        }
        Row[x-1]=Item;
    }


    //--------------------------------------------------------------------------- DRAW
    async function DrawMap(bNotCommon)
    {
        //console.log(glCurrentMap);
        if(!glCurrentMap)
            return;
        
        var Map=await CallTeraProxy(0,"GetMap",{ID:glCurrentMap},[]);
        if(Map)
        {
            idMapContent.style.display="block";
            document.body.style.setProperty('--SizeX', Map.SizeX + 'px');
            document.body.style.setProperty('--SizeY', Map.SizeY + 'px');
            
            try
            {
                FillGrid(idGridMap,Map,1,1,Map.SizeX,Map.SizeY,!bNotCommon);
            }
            catch(e)
            {
                console.error("Error:",e);
            }
        }
        else
        {
            idHelp.innerHTML='<p>Very soon</p>';
            idMapContent.style.display="none";
        }
    }
    

    async function FillGrid(IDGrid, Map,StartX,StartY,SizeX,SizeY,bCommon)
    {
        var BlockNum=GetCurrentBlockNumByTime();
        
        idUserImg1.src=ItemArr[GetUserItemNum(Map)];
        idUserImg2.src=idUserImg1.src;
        
        var WasTrLength=Map.TransferArr.length;
        Map.TransferArrLoc=Map.TransferArr;//общий массив

        //console.log(Map);
        var AllAmount=0,UserAmount=0;
        var Row,Str="";
        var Arr=[];
        var WinMap={};
        for(var y=StartY;y<=SizeY;y++)
        {
            Str+='<div class="map_row">';
            for(var x=StartX;x<=SizeX;x++)
            {
                var Img="",Amount="",Arrow="",Message="";
                
                
                var Item=GetItemAt(Map,x,y,1);
                if(!Item)
                    Item=GetPendingItem(Map,x,y,BlockNum);


                if(Item)
                {
                    Amount=Item.Amount;
                    AllAmount+=Amount;
                    if(USER_ACCOUNT_MAP[Item.Account])
                        UserAmount+=Amount;
                    var Path=ItemArr[Item.Item];
                    if(Path)
                    {
                        var Animation="";
                        if(Item.Pending)
                            Animation="do_pending";
                        else
                        if(BlockNum-Item.BlockNum<=AnimationBlockPeriod)
                            Animation="do_new";
                        Img=`<div class="map_div_img"><img class="map_img ${Animation}" src="${Path}"></div>`;
                    }
                        
                    if(Item.Direct)
                    {
                        var Pos=GetDirectPos(x,y,Item.Direct);
                        var Item2=GetItemAt(Map,Pos.x,Pos.y);
                        if(Item2)
                        {
                            Arrow=`<div class="map_div_arrow  map_arrow${Item.Direct}"><img class="map_arrow" src="${ImgArrow}"></div>`;
                        }
                    }
                    if(!Arrow)
                        Arrow=`<div class="map_div_arrow  map_arrow${Item.Direct}"></div>`;
                    
                    if(!Amount)
                        Amount="";
                        
                    if(Item.Message)
                    {
                        Message=`<img class="map_message" src="${ImgMessage}">`;
                        
                        if(bCommon)
                        {
                            Arr.push(Item)
                            Item.Num=Arr.length;
                            Item.Message=await GetMessage(Map,Item);
                        }
                        
                    }
                    
                    //for leader board
                    if(Item.WinAmount)
                    {
                        var data=WinMap[Item.Account];
                        if(!data)
                        {
                            data={Account:Item.Account,WinAmount:0,Item:Item.Item};
                            WinMap[Item.Account]=data;
                        }
                        data.WinAmount+=Item.WinAmount;
                    }
                }
                
                
                Str+= `
                <div class="map_item" onclick="SelectItem(${Map.ID},${x},${y},${bCommon})">
                ${Img}
                <BR><B>${Amount}<BR>${Arrow}</B>
                <BR>${Message}
                </div>`;
            }
            Str+="</div>";
        }

        if(IDGrid.strData !== Str)
        {
            IDGrid.strData = Str;
            IDGrid.innerHTML=Str;
            IDGrid.CurSelect="";


            if(bCommon)
            {
                SetVisibles(Map);
            
                idAmountUser.innerText=UserAmount;
                idAmountPool.innerText=Map.AwardPool;
                
                
                
                //WinMap to WinArr
                var WinArr=[];
                for(var key in WinMap)
                {
                    WinArr.push(WinMap[key]);
                }
                WinArr.sort(function(a,b)
                {
                    return b.WinAmount-a.WinAmount;
                });
                for(var i=0;i<WinArr.length;i++)
                    WinArr[i].Num=i+1;
                
                
                SetGridData(WinArr,"idLeaderBoard",0,1);
                
                
                //messages
                Arr.sort(function(a,b)
                {
                    if(a.BlockNum==b.BlockNum)
                        return a.TrNum-b.TrNum;
                    return a.BlockNum-b.BlockNum;
                });
                

                SetGridData(Arr,"idTableMessage",0,1);
                idTableMessage.scrollTop = idTableMessage.scrollHeight;
                
            }
        }
            
        if(bCommon)
        {
            //console.log(Map.TransferArr.length,Map.TransferArrLoc.length);
            //transfer arr
            var UserTransfer=0;
            for(var i=0;Map.TransferArrLoc && i<Map.TransferArrLoc.length;i++)
            {
                var Item=Map.TransferArrLoc[i];
                if(!Item)
                    break;
                if(USER_ACCOUNT_MAP[Item.Account])
                {
                    UserTransfer+=Item.Amount;
                }
            }
            idTransferUser.innerText=UserTransfer;
            
            if(UserTransfer>0 || (OwnerMode && WasTrLength>0))//!!
            {
                var Str2=UserTransfer;
                if(UserTransfer)
                    Str2=""+UserTransfer+" coins";
                else
                    Str2=""+WasTrLength+" items";

                idHelp.innerHTML='<p>You can get '+Str2+' ...</p> <button onclick="SendTransfer()" class="btn_set">Transfer</button>';
            }
            else
            {
                SetStartHelp();
            }

        }

    }
    
    async function SendTransfer()
    {
        var Map=await CallTeraProxy(0,"GetMap",{ID:glCurrentMap},[]);
        if(!Map)
            return;
        Map.TransferArrLoc=[];
        for(var y=1;y<=Map.SizeY;y++)
        for(var x=1;x<=Map.SizeX;x++)
            GetItemAt(Map,x,y,1);//заполнение массива Map.TransferArrLoc


        var Arr=[];
        for(var i=0;i<Map.TransferArrLoc.length;i++)
        {
            var Item=Map.TransferArrLoc[i];
            if(USER_ACCOUNT_MAP[Item.Account])
            {
                Arr.push([Item.x,Item.y]);
                if(Arr.length>=10)
                    break;
            }
        }
        
        //console.log(Arr.length,Arr);
        
        var Account = +idAddrUser.value;
        var Params={ID:Map.ID,Arr:Arr,Count:5,All:OwnerMode};
        MSendCall(0,"Transfer",Params,[],Account);
        
    }
   
    

    //--------------------------------------------------------------------------- Owner mode
    var OwnerParamArr=
    [
        {MethodSet:"SetProxy", MethodGet:"GetProxy", Empty:{CommonNum:0}},
        {MethodSet:"SetMap", MethodGet:"GetMap", Empty:
        {
            ID:1,//Free
            SizeX:6,
            SizeY:10,
            StartItems:20,
            FinishItems:20,
            PeriodEgg:10,
            
            MinAmount:0,
            MaxAmount:0,
            GamePeriod:3600*24/3, 
            
            AwardPool:10000,//!
            AwardK:10,
            AwardPeriod:3600/3,
            AwardMinCount:5,
            AwardMaxCount:20,//max зависит от GamePeriod
            
            MinAwardAmount:5,
            MaxAwardAmount:10,
            Reserve:[],
            
            
            AReward:80,
            APool:20,//<---- fee control
            
            RowArr:[],
            GameFee:0,
            AwardCount:0,
            LastAwardTime:0,
            
            Reset:1,
        }},
        {MethodSet:"SetMap", MethodGet:"GetMap", Empty:
        {
            ID:2,
            SizeX:6,
            SizeY:10,
            StartItems:21,
            FinishItems:22,
            PeriodEgg:10,
            
            MinAmount:1,
            MaxAmount:100000,
            GamePeriod:3600*24/3, 
            
            AwardPool:10000,//!
            AwardK:10,
            AwardPeriod:3600/3,
            AwardMinCount:5,
            AwardMaxCount:20,//max зависит от GamePeriod
            
            MinAwardAmount:5,
            MaxAwardAmount:10,
            Reserve:[],
            
            
            AReward:80,
            APool:20,//<---- fee control
            
            RowArr:[],
            GameFee:0,
            AwardCount:0,
            LastAwardTime:0,
            
            Reset:1,
        }},
        {MethodSet:"SetMap", MethodGet:"GetMap", Empty:
        {
            ID:3,
            SizeX:12,
            SizeY:12,
            StartItems:21,
            FinishItems:22,
            PeriodEgg:10,
            
            MinAmount:10,
            MaxAmount:100000,
            GamePeriod:3600*24/3, 
            
            AwardPool:10000,//!
            AwardK:10,
            AwardPeriod:3600/3/2,
            AwardMinCount:5,
            AwardMaxCount:40,//max зависит от GamePeriod
            
            MinAwardAmount:10,
            MaxAwardAmount:100,
            Reserve:[],
            
            AReward:80,
            APool:10,//<---- fee control
            
            RowArr:[],
            GameFee:0,
            AwardCount:0,
            LastAwardTime:0,

            Reset:1,
        }},
    ]
    
    async function DoGetEmpty(Num)
    {
        if(Num)
            Num=+idOwnMap.value;
        
        var Item=OwnerParamArr[Num];
        idSettings.value=JSON.stringify(Item.Empty,"",4);
    }
    
    async function DoSetOwner(Num)
    {
        if(!idSettings.value)
            return SetError("Need set params");
        if(Num)
            Num=+idOwnMap.value;

        var Params=JSON.parse(idSettings.value);
        var Item=OwnerParamArr[Num];
        MSendCall(0,Item.MethodSet,Params,[],SMART.Owner);
    }

    async function DoGetOwner(Num)
    {
        idSettings.value="";
        
        
        if(Num)
            Num=+idOwnMap.value;
        
        var Item=OwnerParamArr[Num];
        var Params={};
        if(Item.MethodGet=="GetMap")
            Params={ID:Num};
        
        var Value=await CallTeraProxy(0,Item.MethodGet,Params,[]);
        if(Value)
        {
            idSettings.value=JSON.stringify(Value,"",4);
        }
        return Value;
    }
    
    async function GetKey()
    {
        if(!idKey.value)
            return SetError("Type key name");
        
        idSettings.value="";
        var Params={Key:idKey.value};
        
        var Value=await CallTeraProxy(0,"GetKey",Params,[]);
        if(Value)
        {
            idSettings.value=Value;
        }
        return Value;
    }
    async function SetKey()
    {
        if(!idKey.value)
            return SetError("Type key name");
        var Params={Key:idKey.value,Value:idSettings.value};
        MSendCall(0,"SetKey",Params,[],SMART.Owner);
    }
    
    
//--------------------------------------------------------------------------- Proxy support
async function CallTeraProxy(AccNum,Name,Params,ParamsArr)
{
    return new Promise(function(resolve, reject)
    {
        MStaticCall(AccNum,Name,Params,ParamsArr,function (Err,Value)
        {
            if(Err)
            {
                SetError(Value);
                reject(Value);
            }
            else
            {
                resolve(Value);
            }
       });
    });
}

function MStaticCall(To,Name,Params,ParamsArr,F)
{
    //return StaticCall(To,Name,Params,ParamsArr,F);//<---------------------------------------------------------------------------
    
    if(typeof Params!=="object")
        return SetError("Error call "+Name);
        
    Params.cmd=Name;
    if(TESTMODE && To<200 || Name==="GetProxy")
        return StaticCall(To,Name,Params,ParamsArr,F);
    else
        return StaticCall(To,"Call",Params,ParamsArr,F);

}

function MSendCall(To,Name,Params,ParamsArr,From)
{
    //return SendCall(To,Name,Params,ParamsArr,From);//<---------------------------------------------------------------------------
    
    if(typeof Params!=="object")
        return SetError("Error call "+Name);
        
    Params.cmd=Name;
    if(TESTMODE || Name==="SetProxy")
        return SendCall(To,Name,Params,ParamsArr,From);
    else
        return SendCall(To,"Call",Params,ParamsArr,From);
}
       
</script>




<style>
    :root
    {
        --colorTabB1: black;
        --colorTabB2: #F0B90B;
        --colorTabB3: #D49E0B;
        
        --SizeX: 6px;
        --SizeY: 6px;
        --colorBorder:#BF8C0B;
    }
    
    body
    {
      padding: 0;
      margin: 0;
      font-family: -apple-system, '.SFNSText-Regular', 'San Francisco', BlinkMacSystemFont, '.PingFang-SC-Regular', 'Microsoft YaHei', 'Segoe UI', 'Helvetica Neue', Helvetica, Arial, sans-serif;
      
      background-color:#F5F5F5;
    }
    .backg_main
    {
        min-height: 100vh;
        background-image: url("https://terafoundation.org/files/dapps/owl/OwlWar-Background.jpg");
        background-position: center 0;
    }
    .logo
    {
        width:100%;
        height:60px;
    }
    .logo_img
    {
        height:60px;
    }
    
    

    item
    {
        height: 32px;
        line-height:32px;
        border-radius: 10px;
        margin: 2px 5px;
    }
    item:hover
    {
        cursor: pointer;
        color: #ECE644;
    }
    
    content
    {
        font-size: 14px;
        text-align: center;
        
        padding: 10px 0;
        margin: 0;
   }
   button
   {
        cursor: pointer;
        color: black;
   }
   button:hover
   {
        cursor: pointer;
        color: #ECE644;
   }
   
   button:disabled
   {
        color: gray;
   }
   
   #idPage
   {
        width: calc(var(--SizeX)*53);
        height: 100%;
        min-height: 100vh;
        margin:0;
        padding:0;
        min-height: 550px;
        color:white;
        background-color: transparent;
   }

    .map_grid
    {
        width: calc(var(--SizeX)*52);
        height: calc(var(--SizeY)*52);
        padding: 0px;
        margin: 0 2px;
        border: 1px solid var(--colorBorder);
    }
    .send_grid
    {
        width: 156px;
        height: 156px;
        padding: 0px;
        margin: 0 2px;
        border: 1px solid var(--colorBorder);
    }
    
     
    .map_row
    {
        display: block;
        margin: 0;
        padding:0;
        line-height: 24px;
    }
   
    
    .map_item
    {
        display: block;
        float: left; 
        width: 50px;
        height: 50px;
        padding: 0px;
        margin: 0px;
        
        text-align: center;
        
    
        font-size: 10px;
        line-height: 12px;
    
        border: 1px solid var(--colorBorder);
        color: black;
        background-color: #f2f3f5;
    }
    .map_item:hover
    {
        cursor:pointer;
        background-color: #ddd;
    }
    
    .grid_tables
    {
    	display: grid;
    	min-width2: 360px;
        width: calc(var(--SizeX)*52);
    	grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    	grid-gap: 0px;
    
    	overflow:hidden;
    
    	resize: both;
    	margin: 4px;
    }

    .message_table
    {
        display: block;
        width:100%;
        width2: calc(var(--SizeX)*52);
        height:150px;
        margin: 0px;
        border: 1px solid var(--colorBorder);
        overflow:auto;
    }
    .leader_table2
    {
        height:100px;
    }

    .message_table th
    {
        text-align: left;
        font-size: 14px;
        font-family:normal;
    }
    
    .message_table td
    {
        vertical-align: top;
        text-align: left;
        font-size: 12px;
    }
    .Account
    {
        width: 20%;
    }
    .Message
    {
        width: 80%;
    }

    
    .map_div_arrow
    {
        display: inline-block;
        position:relative;
        width: 16px;
        height: 16px;
        overflow: hidden;
    }
    .map_arrow
    {
        width: 12px;
        height: 16px;
    }
    .map_arrow1
    {
        top: -57px;
        left: 0px;
    }
    .map_arrow2
    {
        top: -57px;
        left: 25px;
        transform: rotate(45deg);
    }
    .map_arrow3
    {
        top:-33px;
        left: 25px;
        transform: rotate(90deg);
    }
    .map_arrow4
    {
        top:-5px;
        left: 25px;
        transform: rotate(135deg);
    }
    .map_arrow5
    {
        top:-5px;
        left: 0px;
        transform: rotate(180deg);
    }
    .map_arrow6
    {
        top:-5px;
        left: -25px;
        transform: rotate(225deg);
    }
    .map_arrow7
    {
        top:-33px;
        left: -25px;
        transform: rotate(270deg);
    }
    .map_arrow8
    {
        top: -57px;
        left: -25px;
        transform: rotate(315deg);
    }

    .map_div_img
    {
        display: inline-block;
        width: 24px;
        height: 24px;
        margin: 8px 0 4px 0;
        overflow: hidden;
    }
    .map_img
    {
        width: 24px;
        height: 24px;
    }
    .do_new 
    {
      width: 20px;
      height: 20px;
      animation-duration: 0.3s;
      animation-name: do_new;
      animation-iteration-count: 1000;
      animation-direction: alternate;
    }

    .do_pending
    {
      width: 16px;
      height: 16px;
      animation-duration: 0.3s;
      animation-name: do_up;
      animation-iteration-count: 1000;
      animation-direction: alternate;
    }

    @keyframes do_new
    {
      from 
      {
          width: 22px;
          height: 22px;
      }
    
      to {
          width: 24px;
          height: 24px;
      }
    }
    @keyframes do_up
    {
      from {
        margin-top: 0px;
      }
    
      to {
        margin-top: 4px;
      }
    }

    .map_message
    {
        position:relative;
        width: 16px;
        height:16px;
        top: -65px;
        left: 15px;
    }

    .btn_set
    {
        width: 52px;
        height:26px;
        border: 0;
        border-radius:8px;
        background-color:var(--colorTabB2);
        padding:0;
        margin:0;
        line-height:20px;
        color: white;
    }
    .btn_send
    {
        width:100px;
        height:34px;
    }
    
    .btn_rule
    {
        position:fixed;
        top:15px;
        right:15px;
        width:60px;
        background-color:green;
    }
    #idRulesShow
    {
        top: 50%;
        width:90%;
        max-width:90%;
        padding: 5px;
    }
    #idRulesInfo
    {
        width:100%;
        max-width:100%;
        height:300px;
        min-height:300px;
        word-wrap: break-all;
        overflow: auto;
        text-align:left;
    }
    
    .amounts_table
    {
        display: inline-grid;
        grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
        grid-gap: 1px;
        
        width: 95%;
        max-width: 650px;
        padding:0;
        margin:0;
        font-family: 'BenderRegular';
    }
    .amount_item
    {
        margin: 0;
        height: 30px;
        font-size: 12px;
        justify-content: flex-end;
        
        border2: 1px solid gray;
    }
    .amount_item b
    {
        margin-top: 0px;
        font-size: 14px;
        color:orange;
    }

    .row_info
    {
        display: flex;
        margin: 0;
        padding: 0 5px;
        font-size: 14px;
        height: 24px;
        color:yellow;
        border2: 1px solid gray;
    }
    .row_info p
    {
        margin-top: 6px;
    }
    
    #idAddUnit
    {
        border-radius:15px;
        background-color:#825220;
    }
    #idAddUnit .row_info
    {
        color:black;
        height: 30px;
    }
    #idAddUnit input
    {
        width: 200px;
        height: 20px;
        margin: 0px 10px;
        padding: 5px;
        border-radius:10px;
        text-align:center;
    }
    #idAddUnit TEXTAREA
    {
        padding: 5px;
        width: 90%;
        border-radius:10px;
        
    }
    .row_send_btn
    {
        margin:20px 10px;
    }
    
    


    table
    {
        border-collapse: collapse;
        width:100%;
        max-width: 800px;
        margin-top:5px;
    }

    .grid th, .grid td
    {
        border: 1px solid #576B83;
        padding: 4px;
        
        font-size: 12px;
        font-family:monospace;        
    }
    .grid td
    {
        color:var(--GridColor);
        width: 60px;
        vertical-align:center;
    }
    
    




    .row_acc
    {
        display: flex;
        width:310px;
        height: 32px;
        margin: 10px 0px 10px 0px;
        padding:0;
    }
     .row_acc img
    {
        width:  26px;
        height: 26px;
        margin: 0 5px;
    }
     .row_acc p
    {
        margin-top: 2px;
    }
    .row_acc select
    {
        width:170px;
        max-width:170px;
        height: 26px;
    }
    
    .btn_acc
    {
        cursor:pointer;
        width:26px;
        height:26px; 
        margin:0px 5px; 
        padding:0px;
        border: 0;
        border-radius:5px;
        background: white;
        fill:#000;
    }
    .btn_acc:hover
    {
        cursor: pointer;
        fill: #cb763a;
    }


    ::-webkit-scrollbar
    {
        width: 2px;
    }
    ::-webkit-scrollbar-track-piece
    {
        background-color: transparent;
        -webkit-border-radius: 6px;
    }
    ::-webkit-scrollbar-thumb
    {
        background: #73889e;
    }

</style>



<DIV align='center' id="idMain" style="display:none" class="backg_main">
    <DIV id="idPage">
        
        <div class="logo">
            <img class="logo_img" src="https://terafoundation.org/files/dapps/owl/OwlWar-Logo.png">
        </div>
        
        <button class="btn_set btn_rule" onclick="OpenRules()">Rules</button>
        

        <div class="row_acc">
            <img id="idUserImg1">

            <p>Account:</p>
            <select size="1" id="idAddrUser" onchange="DrawMap()">
                <option value="0">Loading...</option>
            </select>
            <button class="btn_acc" onclick="CreateAccount()">
            <svg viewBox="0 0 16 16" style="height:16px"><path d="M0 7h16v2H0V7z"></path><path d="M9 0v16H7V0h2z"></path></svg>
            </button>
        </div>
        
        
        <menu>
            <item data-ref="m1" id="idMap1" onclick="SelectMap(1)">
                Free 6x10
            </item>
        
            <item data-ref="m1" id="idMap2" onclick="SelectMap(2)">
                Battle 6x10
            </item>

            <item data-ref="m1" id="idMap3" onclick="SelectMap(3)">
                Battle 12x12
            </item>
        
            <item data-ref="mOwn" id="mOwner">
                Owner
            </item>
        </menu>
        
        
        
         
        <content data-ref="m1">
            <div class="amounts_table">
                <div class="amount_item">
                    Your deposit: <b id="idAmountUser"></b>
                </div>
                <div class="amount_item">
                    Transfer: <b id="idTransferUser"></b>
                </div>
                <div class="amount_item">
                    Awards pool: <b id="idAmountPool"></b>
                </div>
            </div>
            <div class="row_info" id="idHelp"></div>
            <div id="idMapContent">
                <div class="map_grid" id="idGridMap">
                    <div class="map_item">Loading...</div>
                </div>
                <div class="grid_tables">
                    <table id="idLeaderBoard" class="message_table leader_table">
                        <tr>
                            <th id="(GetColored(Item,Item.Account))" class="Account">User</th>
                            <th id="(GetColored(Item,Item.WinAmount))" class="Message">Win amounts</th>
                        </tr>
                    </table>
                    <table id="idTableMessage" class="message_table">
                        <tr>
                            <th id="(GetAccount(Item))" class="Account">User</th>
                            <th id="(Item.Message)" class="Message">Message</th>
                        </tr>
                    </table>
                </div>
            </div>
        </content>
        
 
        <content data-ref="mOwn">
            <DIV>
            Map:
            <select size="1" id="idOwnMap" onchange="">
                <option value="1">Map 1</option>
                <option value="2">Map 2</option>
                <option value="3">Map 3</option>
            </select>
                
            <button onclick="DoGetEmpty(1)">Empty</button>
            <button onclick="DoGetOwner(1)">Get Map</button>
            <button onclick="DoSetOwner(1)">Set Map</button>
            <input type='hidden' id="idAddAward">
            </DIV>
            <br>
            
            <TEXTAREA id="idSettings" rows="20" cols="40" style="width:99%"></TEXTAREA>
            <br>
            <input id="idKey"><button onclick="GetKey()">Get key</button><button onclick="SetKey()">Set key</button>
            <br>
            <button onclick="DoGetEmpty(0)">Empty</button>
            <button onclick="DoGetOwner(0)">Get Proxy</button>
            <button onclick="DoSetOwner(0)">Set Proxy</button>
        </content>
    
        

   </DIV>
</DIV>



<div class="modal ModalDlg" id="idUnitShow" style="display: none; min-width:270px; padding: 5px">
    <DIV style="width:100%" align="center">
        <div class="row_acc" style="width:80px;" align="center">
            <p><b>UNIT</b></p>
            <img id="idUnitImg">
        </div>
        
        <div style="overflow:auto;max-height:380px;width:100%;">
            <table id="idShow" class="grid">
                <tr>
                    <th id="Item.Name" class="oname">Name</th>
                    <th id="Item.Value" class="ovalue">Value</th>
                </tr>
            </table>
        </div>
        <div class="row_send_btn">
            <button onclick="closeModal()" class="btn_set btn_send" style="background-color: #BF8A0B">Close</button>
        </div>
    </DIV>
</div>



<div class="modal ModalDlg" id="idAddUnit" style="display: none; min-width:270px; padding: 5px">
    <DIV style="width:100%" align="center">
        <div class="row_acc" style="width:120px;" align="center">
            <p><b>Send unit</b></p>
            <img id="idUserImg2">
        </div>
        
        <div class="row_info">
            <p>Deposit:</p><input type="number" id="idAmount">
        </div>
        <div class="row_info">
            <p>Message:</p>
        </div>
        <TEXTAREA id="idMessage" rows="6" cols="10"></TEXTAREA>
        <div class="row_send_btn">
            <button onclick="SendUnitTx()" class="btn_set btn_send">Send</button>
            <button onclick="closeModal()" class="btn_set btn_send" style="background-color: #BF8A0B">Close</button>
        </div>
    </DIV>
</div>


<div class="modal ModalDlg" id="idRulesShow" style="display: none;">
    <DIV style="width:100%" align="center">
        <h3>Rules</h3>

        <menu>
            <item data-ref="mrules" onclick="SetRulesLang('eng')">
                English
            </item>
        
            <item data-ref="mrRus" onclick="SetRulesLang('rus')">
                Русский
            </item>

            <item data-ref="mrChina" onclick="SetRulesLang('china')">
                中文
            </item>
        
        </menu>
        
        <DIV id="idRulesInfo">


        </DIV>


        
        <div class="row_send_btn">
            <button onclick="closeModal()" class="btn_set btn_send" style="background-color: #BF8A0B">Close</button>
        </div>
        
    </DIV>
</div>
