﻿
<script type="text/javascript" src="/JS/diagram.js"></script>


<script>
    function LoadLibs()
    {
        var Arr={"LOCAL-JINN":[536],"TEST-JINN":[11688933],"MAIN-JINN":[77216931]}[NETWORK_NAME];
        var Str="";
        for(var i=0;Arr && i<Arr.length;i++)
        {
            var Item=Arr[i];
            if(typeof Item==="number")
            {
                var Path="/file/"+Arr[i]+"/0";
                Str+=`<script src="${GetURLPath(Path)}"></script`+">";
            }
        }

        document.write(Str);
    }
    LoadLibs();
</script>


<script>
    ALL_ACCOUNTS=1;
    var TESTMODE=0;
    
    var glWasTest1=0;
    
    var MaxTicks=80000;
    var OwnerMode=0;
    var CoinMap={};
    var BalanceMap={};
    var glCurrentPage="";
    var glPageAddMode=0
    var glInfo;
    var glForceUpdate=1;
    
    var glWCount=0;
    var glRangeID="";
    var glRangeArr=[];
    var glArrMult=[0.05,0.1,0.5,2,10,50,200,1000];
    var glBtArr=[];
    var glViewChart=0;
    var glOrderNum=0;
    var glChart;
    var glRate;
    
    var SaveIdArr=["idAddr","idAssetL","idAssetR","idSlippage","idAmountL","idAmountR","idPrecision","idExpert","idRate1","idRate2","idFee","idZoom"];
    
    var WhiteList= 
    {
        "0": "TERA",
        "177": "BNB",
        "178": "BUSD",
        "179": "ETH",
        "182": "STAR",
        "197": "GOLD"
    };
    var WhiteListN={};
    
    
// function CombiningHistory(SInfo,Count)
// {
//     //суммирование одинаковых по времени позиций
//     var Arr=SInfo.HistoryArr;
//     var Time0=context.BlockNum;
//     var Prev;
//     var Delta=0;
//     for(var i=0;i<Count;i++)
//     {
//         var Item=Arr[i];
//         if(!Item)
//             break;
//         Item.Num=Math.floor(6*Math.log(1+Time0-Item.Time));
//         if(Prev && Prev.Num==Item.Num)
//         {
//             Delta=0;
//             Prev.Value1+=Item.Value1;
//             Prev.Value2+=Item.Value2;
//             Prev.Value+=Item.Value;
//             Arr.splice(i,1);
//             i--;
//             continue;
//         }
//         Prev=Item;
//         Delta++;
//         console.log("Delta:",Delta," on "+i);
//         // if(Delta>4)
//         //      break;
//     }
// }
// function TestCombH()
// {
//     window.context={BlockNum:200};
//     var Time0=context.BlockNum;
    
//     var Arr=[];
//     for(var i=0;i<50;i++)
//     {
//         var Item={Time:i*3,Value1:1,Value2:2,Value:0};
//         //Item.Num2=Math.floor(6*Math.log(1+Time0-Item.Time));
//         Arr.unshift(Item);
//     }
    
//     CombiningHistory({HistoryArr:Arr},200);
//     console.log("ARR:",Arr);

//     //window.context={BlockNum:300};
    
//     for(var i=150;i<200;i++)
//     {
//         var Item={Time:i,Value1:1,Value2:2,Value:0};
//         //Item.Num2=Math.floor(6*Math.log(1+Time0-Item.Time));
//         Arr.unshift(Item);
//     }
    
//     CombiningHistory({HistoryArr:Arr},200);
// }
// TestCombH();


    
    
    // function GetCoinStore()
    // {
    //     //"MAIN-JINN" 231941;
    //     //"TEST-JINN" 975;
    //     return 975;
    // }
    //setInterval(Run,60*1000);
    
    window.addEventListener('Event',function(e)
    {
        var Msg=e.detail;
        var Obj=Msg.Description;

        if(Msg.Error)
        {
            SetError(Obj);
            return;
        }
        if(!Obj)
            return;
        var cmd=Obj.cmd;
        var Data=Obj.Data;
       
        
         if(SMART.Num!=7)
             console.log(Obj);

        RefreshInfo();
    });
    
    
    window.addEventListener('Init',async function ()
    {

        if(SMART.Num===7)
        {
            TESTMODE=1;
            WhiteList= 
            {
                "0": "TERA",
                "1": "USDT",
                "2": "BTC",
                "3": "SOFT"
            };
            
            await DoGetOwner(1);
            SetVisibleBlock("idTestMode",1);
            OPEN_PATH="SWAP/0/3";
        }
        InitWhiteList();

        PrepareSavingItems();

        if(!OPEN_PATH)
            OPEN_PATH="SWAP";
            
        var ArrPath=OPEN_PATH.split("/");
        glCurrentPage=ArrPath[0];
        

        await UpdateFillUser();
        await ALoadFromStorageByArr(SaveIdArr);
        await UpdateFillUser();
        
        
        SelectPage(glCurrentPage,ArrPath);
        
        

        
        InitDiagramByArr([]);
        
        window.onmousemove = function(event)
        {
            //console.log(event)
            SetDiagramMouseX(event);
        }


    });
    
    window.addEventListener('UpdateInfo',UpdateFillUser);

    //--------------------------------------------------------------------------- WhiteList Lib
    function InitWhiteList()
    {
        WhiteListN={};
        for(var key in WhiteList)
        {
            var Name=WhiteList[key];
            WhiteListN[Name]=+key;
            CurrencyName(+key,Name);
        }
    }
    
    function TokenName(Num,Name)
    {
        var Name2=WhiteList[Num];
        if(Name2)
            return Name2;
        var Name1=CurrencyName(Num,Name);
        if(WhiteListN[Name1])
            return "???"+Name1;
        
        return Name1;
    }
    async function ATokenName(Num,Name)
    {
        var Name2=WhiteList[Num];
        if(Name2)
            return Name2;
        return ACurrencyName(Num,Name);
    }
    
    //--------------------------------------------------------------------------- Tx

    async function CreateAccount()
    {
        SendingBox(idBtMainAcc,"Sending tx for create account");
        var AccWas=SenderAcc();
        var Ret=await ACreateNewAccount(0);
        
        if(!AccWas && Ret && Ret.result && window.NETWORK_ID=="TEST-JINN.TEST")
        {
            SendStatus("Send tx for get 1000 test coins");
            UpdateDappInfo();
            Pause(2);
            await SendMethod("Click",{},Ret.TR.result);
        }
        
        CancelSendingBox();
        UpdateDappInfo();
        
    }
    
    //--------------
    async function CreateBase(Num)
    {
        if(!Num)
            Num=glBaseCreate;
        if(!Num)
            return SetError("CreateBase: Error base currency");
        
        SendingBox(idBtCreate,"Sending tx for create base account");
        await ACreateNewAccount(Num,"SWAP BASE:"+Num,"000000000000000000000000000000000000000000000000000000000000000000");
        CancelSendingBox();
    }
    

    //--------------
    async function CreateSwap()
    {
        if(!glInfo)
            return;
            
        var Rate=+idCreateRate.value;
        if(!Rate)
            return SetError("Not set create Rate");
        var Params=GetPageAsset();
        var SwapInfo=await ACall(0,"GetSwap",Params);
        if(SwapInfo)
            return SetError("Swap pair was created");
        
        //var ParamsAcc=GetPageAssetAcc();
        Params.InitRate=GetIndexRate(Rate);
        
        //ToLog(Params);
        //return;
        
        var FromNum=SenderAcc();
        if(!IsBalanceOK2(GetAssetStr(glInfo.CurrencyCreate,FromNum),glInfo.PriceCreate))
            return;
        
        
        SendingBox(idBtCrSwap,"Sending tx for create new swap pair");
        
        AddMaxTx(Params);
        
        await SendTransfer("CreateSwap",Params,FromNum,glInfo.PriceCreate,glInfo.CurrencyCreate,"Creating swap pair")
        
        CancelSendingBox();
        AssetChange();
        return 1;
    }
    

    //--------------
    async function SendAddPool()
    {
        if(!glInfo)
            return;
            
            
        var Params=await GetPoolParams();
        if(!Params)
            return SetError("Not set pools params");
            
        var Amount1=Avg(Params.Amount1);
        var Amount2=Avg(Params.Amount2);
        var ModeAmount=1;
        var Amount=Amount1;
        if(Params.IndexFrom>Params.IndexTo)
        {
            //ошибка диапазона
            return SetError("Range error");
        }
        else
        if(Params.IndexFrom>Params.IndexRate)
        {
            //справа тока ассет1
            Amount2=0;
        }
        else
        if(Params.IndexTo<Params.IndexRate)
        {
            //слева тока ассет2
            ModeAmount=2;
            Amount1=0;
            Amount=Amount2;
        }
            
        //console.log("Amount:",Amount,ModeAmount);
         
        var Ret=CalcAmounts(Params.IndexFrom,Params.IndexTo,Params.IndexRate, ModeAmount,Amount);
        if(!Ret)
            return SetError("Cannt calc amounts");

        //отправляем немного больше:
        Amount1=Avg(Params.Amount1,2);
        var Amount2=Avg(Ret.Amount2,2);
        
        
        //console.log("Params=",Params,"Ret=",Ret);
        //return;
          
        // console.log("Amount1:",Amount1);
        // console.log("Amount2:",Amount2);
        
        //return;
      
        
        Params.Id1.value=Amount1;
        Params.Id2.value=Amount2;
        if(!BalanceOK("R"))
            return;
        if(!BalanceOK("L"))
            return;
            
        if(USER_ACCOUNT_MAP[Params.Acc1].PubKeyStr!==USER_ACCOUNT_MAP[Params.Acc2].PubKeyStr)
            return SetError("Differents public key on account!");


        //prepare to send tx
        var Params2={};
        Params2.As1=Params.As1;
        Params2.As2=Params.As2;
        Params2.Acc1=Params.Acc1;
        Params2.Acc2=Params.Acc2;
        Params2.From=Params.IndexFrom;
        Params2.To=Params.IndexTo;
        Params2.CheckRate=Params.IndexRate;
        
        //console.log("Params2=",Params2);
        //console.log(GetFRate(Params2.From),"-",GetFRate(Params2.To)," Rate=",GetFRate(Params2.CheckRate))
        
        Params2.Stake=(Ret.Stake-1e-9);
        Params2.KFee=(+idFee.value)/1000;
       
        //console.log("Params2:",Params2);


        var CountA=(Amount1 && Amount2)?2:1;
        var CountP=(Params2.From<=Params2.CheckRate && Params2.CheckRate<=Params2.To)?2:1;

        if(CountP!=CountA || !CountA || Amount1<0 || Amount2<0 || Amount1===0 && Amount2===0 || !Params2.Stake || Params2.Stake<1e-9)
            return SetError("Not set all amounts");
        
  
 
        SendingBox(idAddLiq);

        glOrderNum++;
        Params2.ID=1000*GetCurrentBlockNumByTime()+glOrderNum%1000;
        

        AddMaxTx(Params2);

        
        SendStatus("Sending liquidity tx:"+CountA);
        
        var RetArr=[];
        if(Amount1)
            RetArr.push(SendTransfer("AddPool",Params2,Params2.Acc1,Amount1,Params2.As1,"Add pool1"));
        if(Amount2)
            RetArr.push(SendTransfer("AddPool",Params2,Params2.Acc2,Amount2,Params2.As2,"Add pool2"));
            

        for(var i=0;i<RetArr.length;i++)
            await RetArr[i];
        
        CancelSendingBox();
        
        SetAddMode(0);
        
        //console.log("Ret=",await Ret);
        return 1;
    }
    

    //--------------
    async function RemLiq(Num,ID,OnlyFee)
    {
        var Params={Num:Num,ID:ID, OnlyFee:OnlyFee};
        
        AddMaxTx(Params);
        await SendMethodBox("RemLiq",Params);
        RefreshInfo(1);
        
        //Run(1);
    }
    
 
    //--------------
    async function Swap()
    {
        var Amount=+idAmountL.value;
        if(!Amount)
            return SetError("Amount is zero");
        if(!BalanceOK("L"))
            return;

        
            
        
        var MinFRate=+idLimitRate.value;
        var Slippage=(+idSlippage.value)*10;
        var Expert=+idExpert.checked;
        
        if(!MinFRate && !Expert)
            return SetError("Finish Price is zero");
        
        var Params=GetPageAssetAcc(0,1);
        var Names=GetNames(Params);
        
 
        //контроль созданных счетов
        var Account=await AccountOK(Params.Acc2,Params.As2);
        if(!Account)
            return;

        var SwapInfo=await ACall(0,"GetSwap",Params);

        var Params2=
        {
            ToAsset:Params.As2,
            ToAccount:Account,
            Slippage:Slippage,
            Rate:SwapInfo.Rate,
        };

 
        
        if(glInfo && glInfo.HistoryArr && glInfo.HistoryArr.length>100)
            SendMethod("DoHistory",{As1:Params2.As1,As2:Params2.As2});
        

        //console.log("Params2:",Params2);
        
        AddMaxTx(Params2);
        var Ret=await SendTransfer("Swap",Params2,Params.Acc1,Amount,Params.As1,"Swap",Expert?undefined:idSwap);
        if(!Ret)
            return;  
        UpdateDappInfo();
    }
    
    
    //--------------
    //--------------
    
    
    //---------------------------------------------------------------------------
    function SetPath()
    {
        var Params=GetPageAsset(0,1);
        var Path=glCurrentPage+"/"+Params.As1+"/"+Params.As2;
        SetLocationPath(Path);
        //console.log(Path);
    }
    function SetValueByValue(Element,Arr,Asset)
    {
        //console.log(Arr,Asset)
        for(var i=0;i<Arr.length;i++)
        {
            //console.log(GetAssetByItem(Arr[i].value),Asset);
            if(GetAssetByItem(Arr[i].value)==Asset)
            {
                //console.log("Find "+Arr[i].value+" by "+Asset)
                Element.value=Arr[i].value;
                break;
            }
        }
    }
    
    function SelectPage(Name,ArrPath)
    {
        glCurrentPage=Name;
        SelectTabMenu(Name,1);
        
        glForceUpdate=1;
        FillAssetSelect(ArrPath);
        RefreshInfo();
        if(!ArrPath)
            SetPath();
        
    }


    function IsERC(Asset)
    {
        if(Asset && +Asset!=Asset && Asset!=="TERA")
            return 1;
        else
            return 0;
    }
    
    function IsTERA(Asset)
    {
        if(Asset=="TERA" || !Asset || IsERC(Asset))
            return 1;
        else
            return 0;
    }
    
    async function IsSoftToken(Asset)
    {
        if(Asset=="0" || !Asset)
            return 1;
        
        //смотрим тип смартконтракта, 2 - новая версия всегда soft token
        var Smart=await AReadSmart(+Asset);
        if(Smart && Smart.Version>=2)
            return 1;
        
        return 0;
    }

    async function GetBase(Asset)
    {
        if(!Asset || Asset==="TERA" || Asset=="0")
            return 0;
            
        if(!glInfo)
            glInfo=await ACall(0,"GetCommon");
        if(!glInfo)
            return -1;

        var Base=glInfo.Assets[Asset];
        if(Base!==undefined)//уже была запись
            return Base;
            
        if(await IsSoftToken(Asset))
            return 0;
            
        return -1;
    }
    

    async function UpdateFillUser()
    {
        glInfo=await ACall(0,"GetCommon");
        if(!glInfo)
            return;
        
        var Arr=[],ArrT=[];
        ArrT=AccToListArr(USER_ACCOUNT);

       
        await AddNewCoinList();
        
        if(glInfo)
        {
            for(var key in glInfo.Assets)
            {
                var Base=glInfo.Assets[key];
                AddCoin(key);
            }
        }
        
        
        SetVisibleBlock("OWNER",OwnerMode);
        
        FillSelect("idAddr",ArrT);
        if(!idAddr.value && ArrT.length)
            idAddr.value=ArrT[0].value;
        
        
        await FillAssetSelect();
        await RefreshInfo();
    }
    
    async function AddNewCoinList()
    {
        BalanceMap={};
        for(var i=0;i<USER_ACCOUNT.length;i++)
        {
            var Item=USER_ACCOUNT[i];
            if(SMART.Owner===Item.Num)
                OwnerMode=1;

            for(var n=0;Item.BalanceArr && n<Item.BalanceArr.length;n++)
            {
                var Token=Item.BalanceArr[n];
                if(Token.Old)
                    continue;

                await ATokenName(Token.Currency,Token.Token);
                for(var m=0;m<Token.Arr.length;m++)
                {
                    var Value2=Token.Arr[m];
                    if(Value2 && (Value2.ID=="" || Value2.ID=="0"))
                    {
                        AddCoin(Token.Currency,Item.Num,Value2);
                    }
                }
            }
        }
         
    }
    
    async function FillAssetSelect(ArrPath)
    {
        var ArrL,ArrR;
        if(glCurrentPage=="SWAP")
        {
            ArrL=await GetAssetArr(1);
            FillSelect("idAssetL",ArrL);
            ArrR=await GetAssetArr(2);
            FillSelect("idAssetR",ArrR);

            if(TESTMODE && ArrR.length>0 && !glWasTest1)
                Test1();
        }
        else
        {
            ArrL=await GetAssetArr(2);
            ArrR=ArrL;
            FillSelect("idAssetL",ArrL);
            FillSelect("idAssetR",ArrR);
        }
        
        //set value in start page
        if(ArrPath)
        {
            SetValueByValue(idAssetL,ArrL,ArrPath[1]);
            SetValueByValue(idAssetR,ArrR,ArrPath[2]);
        }
    }
    async function GetAssetArr(nMode)
    {
        var Arr=[];
        
        
        var MainItem=USER_ACCOUNT_MAP[SenderAcc()];
        if(nMode && !MainItem)
            return [];
        

        for(var key in CoinMap)
        {
            var Asset=+key;
            var Name=TokenName(Asset);
            if(nMode==1)
            {
                //режим списка ассетов из SenderAcc

                var Acc=0;
                var Soft=await IsSoftToken(Asset);
                if(MainItem.Currency && Asset==0)//skip Tera
                {
                    Acc=-1;
                }
                else
                if(!Soft && MainItem.Currency !== Asset)
                {
                    Acc=-1;
                }
                else
                    Acc=MainItem.Num;
                    
                if(Acc==-1)
                {
                    continue;
                }

                AddToArr(Arr,Name,Asset,Acc,0);
            }
            else
            if(nMode==2)
            {
                //режим списка ассетов, счет выбирается наиболее релевантный: 
                //сначала SenderAcc, потом первый подходящий по валюте, потом признак создания нового
                
                var Acc=0;
                var Soft=await IsSoftToken(Asset);
                if(MainItem.Currency && Asset==0)//skip Tera
                {
                    Acc=-1;
                }
                else
                if(!Soft && MainItem.Currency !== Asset)
                {
                    Acc=-1;
                }
                else
                    Acc=MainItem.Num;
                    
                if(Acc==-1)
                {
                    //не создаем если уже есть счет с таким ассетом
                    var Map=CoinMap[Asset];
                    for(var key in Map)
                    {
                        Acc=+key;
                        break;
                    }
                }

                AddToArr(Arr,Name,Asset,Acc,0);
            }
            else
            {
                //режим списка - сочетания счетов и ассетов с ненулевыми остатками
                
                var Map=CoinMap[Asset];
                var Was=0;
                for(var Acc in Map)
                {
                    Was=1;
                    AddToArr(Arr,Name,Asset,Acc,1);
                }
                if(!Was)
                {
                    if(IsTERA(Asset))
                        Acc=SenderAcc();
                    else
                        Acc=-1;
                    AddToArr(Arr,Name,Asset,Acc,1);
                }
            }
        }
        

        return Arr;
    }
    
    function AddToArr(Arr,Name,Asset,Acc,bCheckSum)
    {
        var AssetStr=GetAssetStr(Asset,Acc);
        if(bCheckSum)
        {
            var Coins=BalanceMap[AssetStr];
            if(!Coins || !FLOAT_FROM_COIN(Coins))
                return;
        }
        
        //Arr.push({value:AssetStr,text:""+Name+(Acc>0?"  ("+Acc+")":"")});
        Arr.push({value:AssetStr,text:""+Name+(bCheckSum && Acc>0?"  ("+Acc+")":"")});
    }
    
        
    function SenderAcc(bRecurse)
    {
        var Num=+idAddr.value;
        return Num;
    }
    
    
    function AddCoin(Asset,Num,Value)
    {
        if(!Asset || Asset=="0")
            Asset=0;
            
        var Map=CoinMap[Asset];
        if(!Map)
        {
            Map={};
            CoinMap[Asset]=Map;
        }
        if(!Num && IsTERA(Asset))
        {
            Num=SenderAcc();
        }
        
        if(Num && Value)
        {
            if(Value || !Map[Num])
            {
                Map[Num]=Value;
                BalanceMap[GetAssetStr(Asset,Num)]=Value;
            }
        }
    }
    
    function GetAssetStr(Currency,Account)
    {
        return ""+Currency+"*"+Account;
    }
    
    function GetAccByItem(Value)
    {
        if(Value)
        {
            var Index=Value.indexOf("*");
            var Acc=Value.substr(Index+1);
            return +Acc;
        }

        return 0;
    }
    function GetAssetByItem(Value)
    {
        if(Value)
        {
            var Index=Value.indexOf("*")
            return +Value.substr(0,Index);
        }
        return 0;
    }
    
    
    function GetBalance(Value)
    {
        var Coins=BalanceMap[Value];
        if(!Coins)
            return "--";
        return "Balance: "+ Avg(FLOAT_FROM_COIN(Coins));
    }
    



    
    // async function GetTaskList()
    // {
    //     var Arr=await ACall(0,"GetTasks",{Account:SenderAcc()});
    //     if(!Arr || !Arr.length)
    //         Arr=[];
    //     return Arr;
    // }
    function GetPageAssetID(bInvert)
    {
        if(bInvert)
            return {As1:idAssetL,As2:idAssetR};
        else
            return {As1:idAssetR,As2:idAssetL};
    }
    function GetPageAsset(bName,bInvert)
    {
        var IDs=GetPageAssetID(bInvert);
        var Params={};
        Params.As1=GetAssetByItem(IDs.As1.value);
        Params.As2=GetAssetByItem(IDs.As2.value);
        if(bName)
        {
            Params.Name1=TokenName(Params.As1);
            Params.Name2=TokenName(Params.As2);
        }
        
        return Params;
    }
    function GetPageAssetAcc(bName,bInvert)
    {
        var IDs=GetPageAssetID(bInvert);
        var Params=GetPageAsset(bName,bInvert);
        Params.Acc1=GetAccByItem(IDs.As1.value);
        Params.Acc2=GetAccByItem(IDs.As2.value);
        return Params;
    }
    async function GetCurRate(bInd)
    {
        var Params=GetPageAsset();
        var Ret=await ACall(0,"AssetInfo",Params);
        if(Ret)
        {
            return bInd?Ret.IRate:Ret.Rate;
        }
        else
            return 0;
    }
    
    async function RefreshInfo(bForce)
    {
        if(bForce)
            glForceUpdate=1;
        var WasForce=glForceUpdate;
        
        var Ret;
        var Params=GetPageAsset(0,glCurrentPage=="SWAP");
        
        SetVisibleBlock("idFirst",!SenderAcc());
        
        Params.SInfo=1;//test !!
        
        var ParamsN=GetPageAssetAcc(1);
        if(glCurrentPage=="SWAP")
        {
            idAmountR.disabled=true;
            Ret=await DrawSWAP(Params);
            if(Ret && Ret.Rate)
                Ret.Rate=1/Ret.Rate;
            // console.log(Params);
            // console.log("Ret",Ret);
            
        }
        else
        if(glCurrentPage=="POOL")
        {
            idAmountR.disabled=false;
            //Ret=await DrawPOOL(Params,ParamsN);
            SetVisibleBlock("idLiqList",!glPageAddMode);
            SetVisibleBlock("idLiqAdd1",glPageAddMode);
            SetVisibleBlock("idLiqAdd2",glPageAddMode);
            SetVisibleBlock("idPairBox",glPageAddMode);
            if(glPageAddMode)
                Ret=await DrawLiqAdd(Params,ParamsN);
            else
                Ret=await DrawOrderList(Params);
            
        }
        // TESTMODE=1;
        // SetVisibleBlock("idInfo",TESTMODE)
        // if(TESTMODE)
        // {
        //     var Str="";
        //     if(Ret && Ret.SInfo)
        //         Str="Rate:"+GetFRate(Ret.SInfo.Rate)+"  "+JSON.stringify(Ret.SInfo,"",4);
        //     idInfo.innerText=Str;
        // }
        
        
        if(!Ret)
        {
            Ret={Rate:await GetCurRate()};
        }
        
        glRate=Ret.Rate;
        
        SetVisibleBlock("idCurRate",!!glRate);
        SetVisibleBlock("idPlacePool",!!glRate);
        if(!glBtArr.length)
            idSwap.disabled=!glRate;
        
        idCurRate.innerHTML="Current Price: <B>"+Avg(glRate)+"</B> "+ParamsN.Name2+" per "+ParamsN.Name1;
        idBalance2.innerText=GetBalance(idAssetL.value);
        
        
        if(glCurrentPage=="SWAP")
            idBalance1.innerText="Swap Price: "+Avg(+idAmountR.value?+idAmountL.value/+idAmountR.value:0);
        else
            idBalance1.innerText=GetBalance(idAssetR.value);
        
        // if(document.activeElement!==idRate1 && !+idRate1.value)
        //     idRate1.value=Avg(glRate);
        // if(document.activeElement!==idRate2 && !+idRate2.value)
        //     idRate2.value=idRate1.value;

        //console.log(Ret.SInfo)
        //console.log(Rate);
        if(glPageAddMode && glCurrentPage=="POOL")
            DrawDiagramPool(Params,Ret.Ranges,glRate,WasForce);
        if(glCurrentPage=="SWAP")
            DrawDiagramRate(Params,Ret.SInfo,glRate,WasForce);
        SetVisibleBlock("idBtChart",glCurrentPage=="SWAP" && Ret.SInfo && Ret.SInfo.HistoryArr);
            
        glForceUpdate=0;
        
        
    }
    function SetRangeReq(Params)
    {
        Params.Ranges=1+glWCount;
        Params.RangeID=glRangeID;
    }
    function GetZoomMult(Delta)
    {
        var Val=+idZoom.value;
        if(!Val)
            Val=0;
        if(Val<0)
            Val=0;
        if(Val>=glArrMult.length)
            Val=glArrMult.length-1;
            
        //console.log(Val);
        return Val+Delta;
    }
    function Add2(Sum)
    {
        idZoom.value=GetZoomMult(Sum)
        SaveValues();
        RefreshInfo(1);
    }
    
    function ViewChart()
    {
        glViewChart=!glViewChart;
        RefreshInfo(glViewChart);
    }
    function DrawDiagramRate(Params,SInfo,Rate,bForce)
    {
        SetVisibleBlock("idDiagramRate",SInfo&&glViewChart);
        if(!SInfo || !Rate || !glViewChart)
            return;
        var Arr=SInfo.HistoryArr;
        
        var Names=GetNames(Params);

        var Chart={name:"LiqPool",value:0,red:"blue",id:"idDiagramRate"}
        //Chart.CountNameX=6;
        Chart.left=30;
        Chart.right=10;
        Chart.arr=[];//
        for(var i=0;i<Arr.length;i++)
        {
            var Item=Arr[i];
            var Value1=Item.Value1;
            var Value2=Item.Value2;
            if(Names.Invert)
            {
                Value1=Item.Value2;
                Value2=Item.Value1;
            }
            var CurR=Value2?Value1/Value2:0;
                
            Chart.arr[Arr.length-i-1]=CurR;
        }
        
        Chart.line=1;
        Chart.MouseTextPref="Rate ";
        //Chart.MouseText=" "+TokenName(+Names.As1);
        Chart.NoAvgValue=1;
        Chart.KPrecision=1000;
        Chart.arrX=[];
        Chart.steptime=1;
        Chart.startnumber=1;
        
        DrawDiagram(Chart);
        
        
    }
    function DrawDiagramPool(Params,Range,Rate,bForce)
    {
        SetVisibleBlock("idPlacePool",Range);
        

        if(!Range || !Rate)
            return;
        
        if(!bForce && glWCount==Range.WCount && glRangeID==Range.ID)
            return;//no draw
         
         
        
        var Names=GetNames(Params);
        if(Names.Invert)
            Rate=1/Rate;
        var IRate=GetIndexRate(Rate);
        
        
            
        
        //console.log("Arr",Arr);
        
        if(Range.Arr)
            glRangeArr=Range.Arr;
        glWCount=Range.WCount;
        glRangeID=Range.ID;

        glChart=undefined;
        var Chart={name:"LiqPool",value:0,red:"#078a63",id:"idDiagrPool"}
        Chart.CountNameX=6;
        Chart.left=30;
        Chart.right=10;
        
        var Arr=glRangeArr;
        var Mult=glArrMult[GetZoomMult(0)];
        var Size=50;
        if(Mult<1)
        {
            Size=(Size*Mult)>>>0;
            Mult=1;
        }
        
        
        if(Mult>=200)
            Chart.CountNameX=4;
        if(String(Avg(GetFRate(IRate))).length>6)
            Chart.CountNameX=2;
        
        IRate=Mult*Math.floor(IRate/Mult);
        
        var SetArr=[];
        var arrX0=[];
        var arrX=[];
        for(var t=0;t<Size;t++)
        {
            var A1=t1=t;
            var A2=t2=-t-1;
            if(Names.Invert)
            {
                A2=t1;
                A1=t2;
            }
           
            SetArr[Size+A1]=GetRangeSum(Arr,IRate,Mult,t1);
            SetArr[Size+A2]=GetRangeSum(Arr,IRate,Mult,t2);
            
           
            var x1=GetFRateDiagr(IRate,t1*Mult,Names.Invert);
            var x2=GetFRateDiagr(IRate,t2*Mult,Names.Invert);
            
            arrX0[Size+A1]=x1;
            arrX0[Size+A2]=x2;

            arrX[Size+A1]=Avg(x1);
            arrX[Size+A2]=Avg(x2);
        }
        
        if(Size>=50)
            arrX[0]="";
        
        Chart.Invert=Names.Invert;
        Chart.MouseTextPref="Pools on ";
        Chart.MouseText=" "+TokenName(+Names.As1);
        Chart.NoAvgValue=1;
        Chart.arr=SetArr;
        Chart.arrX=arrX;
        Chart.arrX0=arrX0;
        Chart.steptime=1;
        Chart.startnumber=1;
        Chart.F2=DrawUserPool;
        
        glChart=Chart;
        
        
        DrawDiagram(Chart);
    }
    
    function DrawUserPool()
    {
        var Item=glChart;
        var Rate1=GetFirstX(Item.arrX0,(GetRate1()));
        var Rate2=GetFirstX(Item.arrX0,(GetRate2()));
        if(Rate1>Rate2)
            return;
        
        var obj = document.getElementById(Item.id);
        var ctx = obj.getContext('2d');
        
        
        var Left = Item.left?Item.left:50;
        var Top = 4;
        var Button = 15;
        var Right = Item.right?Item.right:50;
        
        var With=obj.width-Left-Right;
        var Delta=With/(Item.arrX0.length);
        var LeftX1=Left+Rate1*Delta;
        var LeftX2=Left+Rate2*Delta;
        LeftX1+=Delta;
        LeftX2+=Delta;
        //console.log(Rate1,Rate2,Delta,"LeftX:",LeftX1,LeftX2,"Item.arrX:",Item.arrX0.length,Item.arr.length);
        
        ctx.fillStyle = "rgba(49,94,255,0.2)";
        ctx.fillRect(LeftX1-Delta, Top, LeftX2-LeftX1+Delta, obj.height-Top-Button);
        
        
    };
    
    function GetFirstX(arrX,Value)
    {
        var SumX=0;
        var CountX=0;
        for(var i=1;i<arrX.length;i++)
        {
            if(+arrX[i]==Value)
            {
                SumX+=i;
                CountX++;
            }
                
            if(+arrX[i]>Value)
            {
                //if(!CountX)
                {
                    SumX+=i-1;
                    CountX++;
                }
                break;
            }
        }
        if(CountX)
        {
            return Math.floor(SumX/CountX);
        }
        
        return arrX.length-1;
    }
    
    function GetFRateDiagr(RatePos,delta,bInvert)
    {
        var FRate=GetFRate(RatePos+delta);
        if(bInvert && FRate)
            FRate=1/FRate;
        
        return FRate;
    }
    function GetRangeSum(BigArr,RatePos,Mult,t)
    {
        var Steps=100;
        var Index0=RatePos+t*Mult;
        
        var Sum=0;
        //console.log("---------");
        for(var s=0;s<Mult;s++)
        {
            var Index=Index0+s;
            
            var Index2=Index%Steps;
            var BIndex=Math.floor(Index/Steps);
            
            var BItem=BigArr[BIndex];
            if(BItem)
            {
                Sum+=BItem.Pool?BItem.Pool/Steps:0;
                if(BItem.SubArr)
                {
                    var Item=BItem.SubArr[Index2];
                    if(Item && Item.Pool)
                        Sum+=Item.Pool;
                }
                //console.log(BIndex,Index2,Sum);
            }
        }
        //console.log("Index0=",Index0,"t=",t,"RatePos=",RatePos,"Sum=",Sum);
        return Sum;
    }
    
    
    function SetAddMode(Mode)
    {
        glForceUpdate=1;
        glPageAddMode=Mode;
        RefreshInfo();
    }
    
    async function DrawOrderList(Params,bForce)
    {
        if(bForce)
            glForceUpdate=1;
        
        if(!glForceUpdate)
            return;
        glForceUpdate=0;
        
        if(!Params)
            Params=GetPageAsset();
        
        Params.Orders=1;
        //Params.Tasks=1;
        Params.Account=SenderAcc();
        if(!Params.Account)
            return;
        var Ret=await ACall(0,"AssetInfo",Params);
        if(!Ret)
            return;

        //console.log("DrawOrderList",Ret.Orders);
        
        var Arr;
        if(Ret.Orders)
        {
            var Arr=Ret.Orders.Arr;
            for(var i=0;i<Arr.length;i++)
            {
                var Order=Arr[i];
                Order.Num0=i;
                Order.Num=Order.ID;
            }
        }


        if(Arr)
        {
            Arr.sort(function(a,b)
            {
                return a.Num-b.Num;
            });
            //console.log(Arr);
            
            ASetGridData(Arr,"idOrders","",1);
        }
            
        return Ret;
    }
    
    //table orders lib
    function RetBtStateOrder(Item)
    {
        var Name="Remove";
        var Name2=Name;
        if(Item.State==1)
            Name2="Withdraw";
            
            
        var Str=`<button class="btaction" onclick="${Name}Order(${Item.Num0},${Item.ID},this)">${Name2}</button>`;        
        if(Item.State==1)
        {
            Name="Fee"
            Name2="Fee"
            Str+=`<button class="btaction" onclick="${Name}Order(${Item.Num0},${Item.ID},this)">${Name2}</button>`;        
        }
        return Str;
    }
    
    function GetPairHTML(Name1,Amount1)
    {
        return `<DIV class="pair_row"><DIV class="pair_amount">${Amount1}</DIV><DIV class="pair_asset">${Name1}</DIV></DIV>`;
    }
    async function RetPairInfo(Item)
    {
        var Amount1=Avg(Item.Amount1);
        var Amount2=Avg(Item.Amount2);
        var Name1=await ATokenName(Item.As1);
        var Name2=await ATokenName(Item.As2);
        var Str="<DIV class='pair_info'>"+GetPairHTML(Name1,Amount1)+GetPairHTML(Name2,Amount2)+"</DIV>"
        return Str;
    }
    function RetRate(Value)
    {
        return Value?Avg(GetFRate(Value)):'-';
    }
    function RetFeee(KFee)
    {
        return KFee?''+(KFee)*100+' %':'-';
    }
    
    function RetDateOrder(Item)
    {
        var Str=DateFromBlock((Item.ID/10000)>>>0,1);
        return Str;
    }
    function RetAmountOrder(Item)
    {
        return Item.Stake?""+Avg((1+Item.To-Item.From)*Item.Stake)+" "+TokenName(+Item.As1):"-";
    }

    // function CalcFee(Order)
    // {
    //     return 0;
    // }
    
    //order actions
    function FeeOrder(Num,ID,element)
    {
        RemLiq(Num,ID,1);
    }
    function RemoveOrder(Num,ID,element)
    {
        RemLiq(Num,ID,0);
    }
    
        
    async function DrawLiqAdd(Params,ParamsN)
    {
        idBtTo.innerText="+";
 
        Params.Info=1;
        Params.SInfo=1;
        SetRangeReq(Params);
        var Ret,V1=0,V2=0,V3=0;
        if(Params.As1!=Params.As2)
        {
            Ret=await ACall(0,"AssetInfo",Params);
            if(Ret && Ret.Info)
            {
                glInfo=Ret.Info;
                
                //смотрим есть ли нужные ассеты в INFO
                if(await GetBase(Params.As1)==-1)
                {
                    V1=1;
                    SetCreateBase(ParamsN.Name1,ParamsN.Acc1);
                }
                else
                if(await GetBase(Params.As2)==-1)
                {
                    V1=1;
                    SetCreateBase(ParamsN.Name2,ParamsN.Acc2);
                }
                else
                {
                    //смотрим есть ли нужный своп
                    if(!Ret.SInfo)
                        V2=1;
                    else
                        V3=1;
                }
            }
            
        }
        
        

        SetVisibleBlock("idCreateBase",V1);
        SetVisibleBlock("idCreateSwap",V2);
        SetVisibleBlock("idLiq",V3);
        
        if(V2 && Ret)
        {
            Ret.Rate=+idCreateRate.value;
        }
        if(V3)
        {
            SetPoolAmounts();
        }
        return Ret;
    }
   
    async function DrawSWAP(Params)
    {
        //console.log("DrawSWAP")
        //Params.Tasks=1;
        Params.Account=SenderAcc();
        SetVisibleBlock("idPairBox",1);
        idBtTo.innerText="→";
        var Ret;
        var Amount2=0;
        var LimitRate=0;
        var Amount1=+idAmountL.value;
        if(Amount1)
        {
            Params.Info=1;
            Params.Swap=1;
            Params.FromAmount=Amount1;
            Params.FromAsset=Params.As1;
            Params.ToAsset=Params.As2;
        }
        
        SetRangeReq(Params);
        Ret=await ACall(0,"AssetInfo",Params);
        if(Ret && Ret.Swap)
        {
            var Swap=Ret.Swap;
            Amount2=Swap.Amount2;
            if(Swap.Amount2)
                LimitRate=Swap.Rate?1/Swap.Rate:0;
            else
                LimitRate=0;
        }
        if(Ret && Ret.Info)
            glInfo=Ret.Info;
            
        idAmountR.value=Avg(Amount2,1);
        idLimitRate.value=Avg(LimitRate);
        
        

        
        return Ret;
    }
    
    var glBaseCreate;
    function SetCreateBase(Name,Num)
    {
        idBtCreate.innerText="Create base "+Name;
        
        var Item=USER_ACCOUNT_MAP[Num];
        if(!Item || !Item.Currency)
            return;// SetError("Error currency "+Name+" on account: "+Num);
        glBaseCreate=Item.Currency;
        
    }
    function AssetChange()
    {
        idRate1.value=0;    
        idRate2.value=0;
        RefreshInfo();
        
        SetPath();
    }
    
    async function ResetRange()
    {
        idRate1.value="";
        idRate2.value="";
        SetPoolAmounts();
        RefreshInfo(1);
        SaveValues();
    }
    
    function RotateAssets()
    {
        var IDs=GetPageAssetID();
        var As1=IDs.As1.value;
        IDs.As1.value=IDs.As2.value;
        IDs.As2.value=As1;
        
        var Amount1=idAmountR.value;
        idAmountR.value=idAmountL.value;
        idAmountL.value=Amount1;
        
        if(idRate1.value || idRate2.value)
        {
            var Rate1=+idRate2.value?1/+idRate2.value:"";
            var Rate2=+idRate1.value?1/+idRate1.value:"";
            
            idRate1.value=Rate1;
            if(Rate1)
                Add1(1,0);
    
            idRate2.value=Rate2;
            if(Rate2)
                Add1(2,0);
        }
        
        RefreshInfo(1);
        SaveValues();
        SetPath();
    }
    function CheckIDRate(Num)
    {
        var Rate1=+idRate1.value;
        var Rate2=+idRate2.value;
        if(Num===1 && Rate1>Rate2)
            idRate1.value=Rate2;
        if(Num===2 && Rate2<Rate1)
            idRate2.value=Rate1;
    }
    function GetRate1()
    {
        var Rate=+idRate1.value;
        if(!Rate)
            Rate=glRate;
        return Rate;
    }
    function GetRate2()
    {
        var Rate=+idRate2.value;
        if(!Rate)
            Rate=glRate;
        return Rate;
    }
    function Add1(num,count)
    {
        var Func=window["GetRate"+num]
        
        var Was=Func();
        var Index=GetIndexRate(Was);
        Index=Index+count;
        $("idRate"+num).value=GetFRate(Index);

        if(count)
        {
            SaveValues();
            RefreshInfo(1);
        }
    }
    
    
    
    //---------------------------------------------------------------------------  Libs

    function AddMaxTx(Params)
    {
        // var Alive=+idAlive.value;
        // if(Alive)
        // {
        //     var Delta=Math.floor(Alive*20);
        //     Params.MaxBlock=Delta+GetCurrentBlockNumByTime();
        // }
    }

    function SegmentLR(From,Rate,To)
    {
        //справа от Rate область курсов Amount1
        //слева от Rate область курсов Amount2
    
        var M=0,CountL=0,CountR=0;
        if(From<=Rate && Rate<=To)
            M=1;
    
        if(From>=Rate)
            CountR=To-From+1-M;
        else
        if(To<=Rate)
            CountL=To-From+1-M;
        else
        {
            CountL=Rate-From;
            CountR=To-Rate;
        }
    
        return {CountL:CountL<0?0:CountL,CountR:CountR<0?0:CountR,M:M};
    }
    

    function FillAmounts(ResObj,Stake,Rate,UseM,bInv)
    {
        var LR=SegmentLR(ResObj.From,Rate,ResObj.To);

        var Delta1=LR.CountR;
        var Delta2=LR.CountL;
        if(bInv)
        {
            Delta1=LR.CountL;
            Delta2=LR.CountR;
        }
   
        //Right значения Amount1
        //Left  значения Amount2
        
        
        ResObj.Amount1=Delta1*Stake;
        ResObj.Amount2=Stake*GetIntegralRate(ResObj.From,ResObj.From+Delta2-1);
        var M=UseM*LR.M/2;
        if(M)
        {
            ResObj.Amount1+=Stake/2;
            ResObj.Amount2+=Stake*GetFRate(Rate)/2;
            Delta1+=0.5;
            Delta2+=0.5;
        }
        
        ResObj.Delta1=Delta1;
        ResObj.Delta2=Delta2;
        //console.log("FILLS2","Deltas=",Delta1,Delta2,"Rates:",ResObj.From,Rate,ResObj.To,"Amounts:",ResObj.Amount1,ResObj.Amount2)
    }
    
    function CalcAmount1(ResObj,IndexRate,Amount2)
    {
        var Stake=0,Amount1=0;
        if(Amount2>0)
        {
            FillAmounts(ResObj,1,IndexRate,1);
            if(ResObj.Amount2>0)//есть возможность расчета
            {
                Stake=Amount2/ResObj.Amount2;
                Amount1=Stake*ResObj.Delta1;
            }
        }
        
        //console.log("Amount1",Amount1,"Stake",Stake);
        return {Amount1:Amount1,Stake:Stake};
    }
    
    function CalcStake(ResObj,IndexRate,Amount,Mode)
    {
        if(Amount)
        {
            FillAmounts(ResObj,1,IndexRate,1);
            
            //рассчитываем Stake по ассет1 (справа от текущего курса)
            Delta=ResObj.Delta1?ResObj.Delta1:ResObj.Delta2;
            if(Delta>0)
                return Amount/Delta;
        }
    }
    
    function CalcAmounts(IndexFrom,IndexTo,IndexRate,ModeAmount,Amount)
    {
        if(!IndexFrom || !IndexTo || !IndexRate || IndexFrom>IndexTo)
        {
            //SetError("CalcAmounts: Error form params");
            return 0;
        }
        
        
        //calc Stake
        
        var Stake;
        var ResObj={From:IndexFrom,To:IndexTo,Amount:0}

        var Amount1,Amount2;
        if(ModeAmount===1)
        {
            Stake=CalcStake(ResObj,IndexRate,Amount,1);
            
            
            
            //calc Amount2
            
            FillAmounts(ResObj,Stake,IndexRate,1);
            Amount1=ResObj.Amount1;
            Amount2=ResObj.Amount2;
            
        }
        else
        {
            
            var Ret=CalcAmount1(ResObj,IndexRate,Amount);
            Amount1=Ret.Amount1;
            Stake=Ret.Stake;
            
            Amount2=Amount;
        }
        
        return {Amount1:Amount1,Amount2:Amount2,Stake:Stake};
    }
    
    async function GetPoolParams()
    {
        var IndexRate=await GetCurRate(1);
      
        var IndexFrom=GetIndexRate(GetRate1());
        var IndexTo=GetIndexRate(GetRate2());
        
        var Names=GetNames(GetPageAssetAcc());
        Names.IndexFrom=IndexFrom;
        Names.IndexTo=IndexTo;
        Names.IndexRate=IndexRate;
        
        if(Names.Invert)
        {
            Names.IndexFrom=50000-IndexTo;
            Names.IndexTo=50000-IndexFrom;
            Names.IndexRate=50000-IndexRate;
            
            Names.Id1=idAmountL;
            Names.Id2=idAmountR;
        }
        else
        {
            Names.Id1=idAmountR;
            Names.Id2=idAmountL;
        }

        
        
        Names.Amount1=+Names.Id1.value;
        Names.Amount2=+Names.Id2.value;
        Names.ModeAmount=(document.activeElement===Names.Id1)?1:(document.activeElement===Names.Id2)?2:0;
        
        return  Names;
    }
    
    
    async function SetPoolAmounts()
    {
        if(glCurrentPage!=="POOL")
            return;
        
        var Params=await GetPoolParams();
        //console.log("Params",Params);
        //return;
        
        if(!Params)
            return;
            
        if(Params.IndexFrom>Params.IndexTo)
        {
            //ошибка диапазона
            Params.Id1.value=0;
            Params.Id2.value=0;
            return;
        }
        else
        if(Params.IndexFrom>Params.IndexRate)
        {
            //справа тока ассет1
            Params.Id2.value=0;
            return;
        }
        else
        if(Params.IndexTo<Params.IndexRate)
        {
            //слева тока ассет2
            Params.Id1.value=0;
            return;
        }
            
        if(!Params.ModeAmount)
            Params.ModeAmount=(idAmountL===Params.Id1)?1:2;
            

        var Ret=CalcAmounts(Params.IndexFrom,Params.IndexTo,Params.IndexRate,Params.ModeAmount,Params.ModeAmount===1?Params.Amount1:Params.Amount2);
        if(!Ret)
            return;
        
        if(Params.ModeAmount===1)
            Params.Id2.value=Avg(Ret.Amount2);
        else
            Params.Id1.value=Avg(Ret.Amount1);
            

        //console.log("Ret=",Ret);
    }
    
    
    //--------------------------------------------------------------------------- Sending info
    
    function SendStatus(Str)
    {
        SetStatus(Str);
        idSendingInfo.innerText=Str;
    }
    function SendError(Str)
    {
        SetError(Str);
        CancelSendingBox();
        return 0;
    }
    function SendingBox(idBt,Str)
    {
        //console.log("SendingBox");
        idBt.disabled=true;
        glBtArr.push(idBt);

        SetSendingBox(!!glBtArr.length);
        if(Str)
            SendStatus(Str);
    }
    function CancelSendingBox()
    {
        //console.log("CancelSendingBox");
        for(var i=0;i<glBtArr.length;i++)
            glBtArr[i].disabled=false;
        glBtArr=[];
        SetSendingBox(0);
    }
    
    function SetSendingBox(bView)
    {
        SetVisibleBlock("idSendingOverlay",bView);
        SetVisibleBlock("idSendingBox",bView);
    }
    
    async function AccountOK(Account,Asset)
    {
        SetStatus("");
        var FName=TokenName(+Asset);
        if(Account==-1 && IsTERA(Asset))
            return SendError("Error asset name: "+FName);
        
        var bUpdate=0;
        if(!SenderAcc())
        {
            SendStatus("Creating new sender main account");
            var Ret=await ACreateNewAccount(0);
            if(!Ret || !Ret.result || !Ret.TR.result)
                return SendError("The account was not created");
            idAddr.value=Ret.TR.result;
            bUpdate=1;
        }
            
        if(Account==-1)
        {
            SendStatus("Creating new account for asset: "+FName);
            var Ret=await ACreateNewAccount(+Asset);
            if(!Ret || !Ret.result || !Ret.TR.result)
                return SendError("The asset "+FName+" account was not created");
            Account=Ret.TR.result;
            bUpdate=1;
        }
        if(bUpdate)
            UpdateDappInfo();
        if(!Account)
            return SendError("Choose asset, pls");
        return Account;
    }

    function BalanceOK(Type)
    {
        var Amount=+$("idAmount"+Type).value;
        var AssetStr=$("idAsset"+Type).value;

        return IsBalanceOK2(AssetStr,Amount);
    }
    
    function IsBalanceOK2(AssetStr,NeedSum)
    {
        var Asset=GetAssetByItem(AssetStr);
        var Sum=0;
        if(!NeedSum)
            return 1;
        var Coins=BalanceMap[AssetStr];
        if(Coins)
        {
            Sum=FLOAT_FROM_COIN(Coins);
            if(Sum>=NeedSum)
                return 1;
        }
        var Name=TokenName(Asset);
        var Acc=GetAccByItem(AssetStr);
        
        return SetError("Insufficient funds of "+Name+" on account "+Acc+" Need:"+Avg(NeedSum)+" Balance: "+Avg(Sum));
    }
 

    
    //--------------------------------------------------------------------------- Tests1
    async function DoTestCreate()
    {
        
        var Params={As1:0,As2:3, InitRate:GetIndexRate(0.01)};
        await SendMethod("DoTestCreate",Params,SMART.Owner,"Test swap");
    }
    async function DoTestSwap()
    {
        var Params=GetPageAssetAcc(0,1);
        Params.Slippage=0;
        Params.Amount=+idAmountL.value;
        console.log("Params",Params)
        await SendMethod("DoTestSwap",Params,+idAddr.value,"Test swap");
    } 
    async function DoTestSwap2()
    {
        //{As1,As2,As3,Account, LimitRate}
        var Params0=GetPageAssetAcc(0,1);
        var Params=
        {
            As1:1,//Params0.As1
            As2:0,
            As3:3,//Params0.As2,
            Acc1:101,
            ToAccount:103,//Params0.Acc2,
            LimitRate1:0,
            LimitRate2:0,
        }
        
        var Amount=+idAmountL.value;
        
        var Ret=await SendTransfer("Swap2",Params,Params.Acc1,Amount,Params.As1,"Long swap",idSwap2)
        
    } 
    
    async function Test1()
    {
        return;
        
        glWasTest1=1;
        
        var Rate=100;
        var As2="0*100";
        var As1="3*103";
        
        if(await ACall(0,"GetSwap",{As1:0,As2:3}))
            return;
        
        idCreateRate.value=Rate;
        idAmountL.value=100;
        idAssetR.value=As1;
        idAssetL.value=As2;
        
         
        //Жрет 8K тиков:
        // idRate1.value=9.271e-10;
        // idRate2.value=1077597692;

        // idRate1.value=1;
        // idRate2.value=10;
        

        idRate1.value=GetFRate(GetIndexRate(Rate)-10);
        idRate2.value=GetFRate(GetIndexRate(Rate)+10);
        
        return;
        
        await CreateBase(1);
         

         
        if(!await CreateSwap())
            return;
        
        idRate1.value=GetFRate(GetIndexRate(Rate)-200);
        idRate2.value=GetFRate(GetIndexRate(Rate)+200);
        
        await SendAddPool();
        idAmountL.value=1;
        //Swap();

        SaveValues();
    }
    
    
    
    //--------------------------------------------------------------------------- Libs
    // function Avg22(Sum)
    // {
    //     if(!Sum)
    //         return 0;
        
    //     var Precision=+idPrecision.value;
    //     if(!Precision || Precision<3)
    //         Precision=3;
    //     var Sum2=Math.floor(Math.abs(Sum));
    //     if(Sum2<=0)
    //         Sum2=1;
    //     var BigPrecision=Math.floor(1+Math.log10(Sum2))
    //     var Res=Number(Sum).toPrecision(BigPrecision+Precision);
    //     return Res;
    // }
    
    //from: https://developer.mozilla.org/
    function decimalAdjust(type, value, exp) 
    {
        // Если степень не определена, либо равна нулю...
        if (typeof exp === 'undefined' || +exp === 0) {
          return Math[type](value);
        }
        value = +value;
        exp = +exp;
        // Если значение не является числом, либо степень не является целым числом...
        if (isNaN(value) || !(typeof exp === 'number' && exp % 1 === 0)) {
          return NaN;
        }
        // Сдвиг разрядов
        value = value.toString().split('e');
        value = Math[type](+(value[0] + 'e' + (value[1] ? (+value[1] - exp) : -exp)));
        // Обратный сдвиг
        value = value.toString().split('e');
        return +(value[0] + 'e' + (value[1] ? (+value[1] + exp) : exp));
    }
    
    // Десятичное округление к ближайшему
    function Round10(value, exp) 
    {
      return decimalAdjust('round', value, exp);
    }
      
    // Десятичное округление вниз
    function Floor10(value, exp) 
    {
          return decimalAdjust('floor', value, exp);
    }
    
    // Десятичное округление вверх
    function Ceil10(value, exp) 
    {
        return decimalAdjust('ceil', value, exp);
    }
    function Avg(Sum,bMode)
    {
        if(!Sum)
            return 0;
        
        var Sum2;
        var Precision=+idPrecision.value;
        if(bMode==1)
            Sum2=Floor10(Sum, -Precision);
        else
        if(bMode==2)
            Sum2=Ceil10(Sum, -Precision);
        else
            Sum2=Round10(Sum, -Precision);

        return Sum2;
    }

    
    
    function GetF(x)
    {
        return 1000*Math.exp((x-25000)/1000);
    }
    function GetIndexRate(Rate)
    {
        if(!Rate)
            return 0;
        return 25000+Math.floor(0.5+1000*Math.log(Rate));
    }
    
    function GetFRate(Index)
    {
        return GetIntegralRate(Index,Index);
    }
    function GetIntegralRate(From,To)
    {
        if(To>=From)
            return GetF(To+0.5)-GetF(From-0.5);
        else
            return 0;
    }

    function GetIntegralRate3(From,To)
    {
        var K=1000,W=25000;
        var Sum3=0;
        for(var i=From;i<=To;i++)
        {
            Sum3+=GetFRate(i);
            //Sum3+=GetF(i+0.5)-GetF(i-0.5);
            //Sum3+=K*Math.exp((i+0.5-W)/K)-K*Math.exp((i-0.5-W)/K);
            //Sum3+=K*Math.exp((i+0.5-W)/K)-K*Math.exp((i-0.5-W)/K);
        }
        return Sum3;
    }
    
    
        
    function Around(Sum)
    {
        Sum=Math.floor(0.1+1e9*Sum)/1e9;
        if(Sum<1e-9)
            Sum=0;
        return Sum;
    }

    function GetNames(Item)
    {
        var As1=+Item.As1;
        var As2=+Item.As2;
        
        // if(!As1 || !As2 || As1==As2)
        //     throw "Error assets name";
    
        var Ret={};
        if(As1<As2)
        {
            Ret.As1=As1;
            Ret.As2=As2;
            Ret.Acc1=Item.Acc1;
            Ret.Acc2=Item.Acc2;
        }
        else
        {
            Ret.As1=As2;
            Ret.As2=As1;
            Ret.Acc1=Item.Acc2;
            Ret.Acc2=Item.Acc1;
            Ret.Invert=1;
        }
        Ret.Key="SWAP:"+Ret.As1+"-"+Ret.As2;
        return Ret;
    }


    function DoHistory(Num)
    {
        var Params=GetPageAsset();
        return SendMethod("DoHistory",Params);
    }
    
    //--------------------------------------------------------------------------- Owner mode
    var OwnerParamArr=
    [
        {MethodSet:"SetProxy", MethodGet:"GetProxy", Empty:{CommonNum:0}},
        {MethodSet:"SetCommon", MethodGet:"GetCommon", Empty:{Assets:{}}},
    ]
    
    function DoGetEmpty(Num)
    {
        var Item=OwnerParamArr[Num];
        idSettings.value=JSON.stringify(Item.Empty,"",4);
    }
    
    async function DoSetOwner(Num)
    {
        if(!idSettings.value)
            return SetError("Need set params");

        var Params=JSON.parse(idSettings.value);
        var Item=OwnerParamArr[Num];
        return ASendCall(0,Item.MethodSet,Params,[],SMART.Owner);
    }
    async function DoGetSwap()
    {
        var Params=GetPageAsset();
        var SwapInfo=await ACall(0,"GetSwap",Params);
        idSettings.value=JSON.stringify(SwapInfo,"",2);
    }

    async function DoGetOwner(Num)
    {
        idSettings.value="";
        
        
        
        var Item=OwnerParamArr[Num];
        
        var Value=await ACall(0,Item.MethodGet,{});
        if(Value)
        {
            idSettings.value=JSON.stringify(Value,"",4);
        }
        return Value;
    }
    function DelPair()
    {
        ASendCall(0,"DelPair",{As1:0,As2:238930},[],SMART.Owner);
    }
       
    //--------------------------------------------------------------------------- Saving support
    function SaveValues()
    {
        SaveToStorageByArr(SaveIdArr);
    }
    function PrepareSavingItems()
    {
        for(var n = 0; n < SaveIdArr.length; n++)
        {
            var Item = $(SaveIdArr[n]);
            Item.addEventListener("change",SaveValues);
        }
    }
       
    
    //--------------------------------------------------------------------------- 
    async function SendMethodBox(Name,Params,Str)
    {
        if(!Str)
            Str="";
        SendingBox(idBtCrSwap,"Sending tx "+Str);
        await SendMethod(Name,Params);
        CancelSendingBox();
    }
    
    async function SendTransfer(Name,Params,FromNum,Amount,Currency,Description,idBt)
    {
        var ToNum=await GetBase(Currency);
        if(ToNum==-1)
            throw "Error base for asset: "+await TokenName(Currency);
            
        if(idBt)
           SendingBox(idBt,"Sending tx "+Description);
           
        
        try
        {
            var Ret=await StartTransfer(
                {FromID:FromNum,ToID:ToNum?ToNum:SMART.Account,Value:Amount,Description:Description,Currency:Currency,ID:""},
                {Method:Name,Params:Params},
                MaxTicks);
                
            return Ret;
        }
        catch(e)
        {
            //console.log("Error:",e);
            return SendError(e.Text)
        }
        finally
        {
            if(idBt)
                 CancelSendingBox();
        }
    }
    async function SendMethod(Name,Params,FromNum,StrBox)
    {
        if(StrBox)
          SendingBox(idBtCrSwap,"Sending tx "+StrBox);
      
        try
        {
            if(!FromNum)
                FromNum=SenderAcc();
            return await ASendCall(0,Name,Params,[],FromNum,MaxTicks);
        }
        catch(e)
        {
            //console.log("Error:",e);
            SendError(e.Text)
            return undefined;
        }
        finally
        {
            if(StrBox)
                CancelSendingBox();
        }
    }
    async function Pause(Value)
    {
        return new Promise(function(resolve, reject)
        {
            setTimeout(function()
            {
                resolve();
            },Value*1000)
        });
    }
    




</script>




<style>
    :root
    {
        --colorTabB1: #000;
        --colorTabB2: rgba(41, 94, 255, 0.21);
        --colorTabB3: rgba(41, 94, 255, 0.51);
        
        --colorBt: rgba(41, 94, 255, 0.10);

        --GridBgr:rgba(41, 94, 255, 0.03);
        --GridColor:black;
        --GridBord:rgba(41, 94, 255, 0.25);
        
        font-family: -apple-system, '.SFNSText-Regular', 'San Francisco', BlinkMacSystemFont, '.PingFang-SC-Regular', 'Microsoft YaHei', 'Segoe UI', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    }

    body
    {
      background-color:white;
      padding: 0;
      margin: 0;
    }
    
    
    input
    {
        border-radius: 5px;
        border: 1px solid gray;
        height:26px;
        margin:5px 0;
    }
    button
    {
        background-color:var(--colorBt);
    }
    .ownpanel  button
    {
        height:32px;
    }
    button:hover
    {
        cursor: pointer;
        color: #cb763a;
    }
    button:disabled
    {
        background-color:gray;
    }
    
    
    menu item
    {
        height: 32px;
        line-height:32px;
        border-radius:10px;
    }

    content
    {
        font-size: 14px;
        text-align: center;
        
        padding: 2px 0;
        margin: 0;
        background2: linear-gradient(0, #E3EBFE, #F9FAFE);
        
        
   }
   .page
   {
        background-color:#fff;
        width: 350px;
        height: 98vh;
        margin: -10px;
        min-height: 550px;
   }


    
    .row_acc
    {
        display: flex;
        width:350px;
        height: 32px;
        margin: 15px 0px 5px 0px;
        padding:0;
    }
    .row_acc select
    {
        width:250px;
        max-width:250px;
        height: 26px;
        margin:0px 4px;
    }
    
    .btn_acc
    {
        cursor:pointer;
        width:26px;
        height:26px; 
        margin:0px 5px; 
        padding:0px;
        border: 0;
        border-radius:5px;
        fill:#000;
    }
    .btn_acc:hover
    {
        cursor: pointer;
        fill: #cb763a;
    }

   .row
    {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: end;
        -webkit-align-items: flex-end;
        -ms-flex-align: end;
        align-items: flex-end;

    }
   .btaction
    {
        width: 60px;
        padding:0;
        margin:1px;
        height:26px;
        border-radius: 5px;
        border:none;
    }
    .btnew
    {
        float:right;
        width: 130px;
        height:30px;
        font-size: 16px;
        border: 1px solid gray;
        border-radius: 8px;
        color: white;
        background-color: #649AFF;
        margin: 10px 0;
        
    }
    .btrun
    {
        width: 90%;
        height:40px;
        font-size: 20px;
        font-weight: 500;
        border: 1px solid gray;
        border-radius: 10px;
        color: white;
        background-color: #6187E9;
    }
    
    .asset
    {
        width:150px;
        height:110px;
        padding:5px;
        border-radius: 10px;
        background-color:rgba(41, 94, 255, 0.15);
        border: 1px solid #DDD;
    }
    .asset select
    {
        width:150px;
        height:30px;
        margin:5px 0;
        border-radius: 10px;
        border: none;
        font-size: 17px;
        font-weight: 500;
    }
    .asset input
    {
        width:146px;
        border-radius: 10px;
        border: none;
        text-align: right;
        font-family:monospace;
        font-size: 20px;
        font-weight: 500;
    }
    .balance
    {
        color: #000;
        text-align:left;
        height:20px;
        margin-top: 0px;
        font-size: 12px;
    }

    .dmiddle
    {
        width:30px;
    }
    #idBtTo
    {
        margin:40px 0;
        height:26px;
        width:26px;
        line-height:26px;
        background-color:#F5F5FF;
        border-radius: 15px;
        border: 1px solid #DDD;
        vertical-align	: middle;
    }
    .btreset
    {
        margin:30px 0;
        height:26px;
        width:26px;
        line-height:20px;
        background-color:#F5F5FF;
        border-radius: 15px;
        border: 1px solid #DDD;
        vertical-align	: middle;
    }
    
    #idBtChart
    {
        float:left;
        width:50px;
        height:30px;
        margin:-35px 0px;
        border-radius: 5px;
        border: 1px solid #DDD;
    }
    .rotate
    {
        float:right;
        width:50px;
        height:30px;
        margin:-35px 0px;
        border-radius: 5px;
        border: 1px solid #DDD;
    }
    
    .short
    {
        width:50px;
    }
    #idAmountR:disabled,#idLimitRate
    {
        border: none;
        background-color:transparent;
    }


    .tleft
    {
        text-align:left;
    }
    
    .inforate
    {
        margin-top:10px;
        text-align:center;
    }
    
    .assetrate
    {
        height:70px;
        border-radius: 20px;
        background-color:white;
    }
    
    #idRate1,#idRate2
    {
        width:88px;
        margin:1px;
        border:none;
        text-align: center;
        font-size: 14px;
    }
    
    .bt1
    {
        width:30px;
        height:30px;
        border-radius: 5px;
        border:none;
    }
    .feerow
    {
        margin:5px;
        padding:0;
    }
    .feerow select
    {
        height: 30px;
    }
    
    
    
    /*Списки*/
    .grid
    {
        border-collapse: collapse;
        width:100%;
        max-width: 800px;
        margin:10px 0;
        background-color: var(--GridBgr);
    }
    .grid th
    {
        text-align: center;
    }
    
    .grid th, .grid td
    {
        border: 1px solid var(--GridBord);
        padding: 4px;
        
        font-size: 12px;
        font-family:monospace;        
    }
    .grid td
    {
        color:var(--GridColor);
        width: 60px;
        vertical-align:center;
    }
    .grid td.sum
    {
        text-align: right;
    }
    .grid td button
    {
        height: 22px;
    }
    

     .btupdate,.btback
    {
        width:90px;
        height:30px;
        border-radius: 5px;
        border:none;
    }
    .btback
    {
        float:left;
        margin: 0 -60px 0 10px;
    }

    h3
    {
        margin: 10px 0;
    }
    
    #idZoomBox
    {
        float:right;
        position:relative;
        margin:0 0 -30px 0;
        right: 10px;
    }
    #idZoomBox button
    {
        width:24px;
        height:24px;
    }
    
    #idDiagrPool
    {
        width:340px;
        height: 110px;
        background-color:white;
    }
    
    .gridconf
    {
        margin: 20px;
    }
    .gridconf td
    {
        text-align:left;
    }
    
    #idSendingOverlay
    {
    	display:none;
    	position: fixed;
    	width: 100%;
    	height: 100vh;
    	top: 0;
    	left:0;
    	background: rgba(68, 83, 104, 0.65);
    }
    
    #idSendingBox
    {
    	display:none;
    	position: fixed;
    	z-index: 1000;
    	left: 0;
    	bottom:0;
    	width: 100vw;
    	height:32px;
    	
    	
    	padding: 0px;
    	text-align: center;
    	line-height: 32px;
    
    	
    	color: white;
    	background-color: #333A68;
    	border: 1px solid #25000d;
    }
    
    .SendBt
    {
    	position: fixed;
    	z-index: 1001;
    	right: 0;
    	bottom:0;
    	width: 36px;
    	height: 32px;
    
    	color:white;
    	background-color: transparent;
    	border-color: transparent;
    }

    
    #idFirst
    {
        display:none;
        margin: 20px;
    }
    
    .pair_info
    {
        width: 90px;
        min-width: 80px;
        max-width: 160px;
        font-family:monospace;
    }
    .pair_row
    {
        display: flex;
        line-height: 18px;
    }
    
    .pair_amount
    {
        width:60px;
        text-align:right;
        font-weight: bold;
        overflow: hidden;
    }
    .pair_asset
    {
        width:40px;
        margin-left:5px;
        text-align:left;
        overflow: hidden;
    }

    .tr_min_max
    {
        width: 20px;
        max-width: 40px;
        text-align:right;
        overflow: hidden;
    }
    .tr_fee
    {
        width: 30px;
        max-width: 30px;
    }
    
    ::-webkit-scrollbar
    {
        width: 2px;
    }
    ::-webkit-scrollbar-track-piece
    {
        background-color: transparent;
        -webkit-border-radius: 6px;
    }
    ::-webkit-scrollbar-thumb
    {
        background: #73889e;
    }
</style>

<DIV align='center' id="idMain" style="display:none">
    <DIV class="page">
        <div class="row_acc">
            <span>Account:</span>
            <select size="1" id="idAddr" onchange="UpdateFillUser()">
                <option value="0">Loading...</option>
            </select>
            <button class="btn_acc" id="idBtMainAcc" onclick="CreateAccount()">
            <svg viewBox="0 0 16 16" style="height:16px"><path d="M0 7h16v2H0V7z"></path><path d="M9 0v16H7V0h2z"></path></svg>
            </button>
        </div>
        
        
        <menu>
            <item data-ref="m1" id="SWAP" onclick="SelectPage('SWAP')">
                Swap
            </item>
        
            <item data-ref="m2" id="POOL" onclick="SelectPage('POOL')">
                Pool
            </item>
            
            <item onclick="OpenLink('/dapp/190')" class="noclick">
                Bridge⇗
            </item>
        
            <item data-ref="mOwn" id="OWNER">
                Owner
            </item>
            <item data-ref="mConf" id="CONFIG" style2="width:40px">
                ⚙
            </item>
        </menu>
        
        <content data-ref="m1">
            <DIV id="idFirst">
                To work with dapp, you need to have at least one account. Click the button below to do this automatically
                <BR><BR>
                <button class="btrun" id="idBtCrSwap" onclick="CreateAccount()">Create account</button>
            </DIV>
        </content>

        <content data-ref="m2">
            <div id="idLiqAdd1" style="display:none">
                <button class="btback" onclick="SetAddMode(0)">← back</button>
                <h2 style="margin-bottom: 0">Add Liquidity</h2>
            </div>
        </content>

        <content data-ref="m1 m2">
            <DIV id="idPairBox">
                <h3>Select pair</h3>
                <button id="idBtChart" onclick="ViewChart()">Chart</button>
                <button class="rotate" onclick="RotateAssets()">⇆</button>
                <DIV class="row">
                    <DIV class="asset">
                        <select size="1" id="idAssetL" onchange="AssetChange()"></select>
                        <input type="number" id="idAmountL" autocomplete="off" onchange="RefreshInfo()"  oninput="SetPoolAmounts();">
                        <DIV class="balance" id="idBalance2"></DIV>
                    </DIV>
                    <DIV class="dmiddle">
                        <div id="idBtTo">-</div>
                    </DIV>
                    <DIV class="asset">
                        <select size="1" id="idAssetR" onchange="AssetChange()"></select>
                        <input type="number" id="idAmountR" step="1" value="0.0" autocomplete="off" onchange="RefreshInfo()" oninput="SetPoolAmounts();">
                        <DIV class="balance" id="idBalance1"></DIV>
                    </DIV>
                </DIV>
                <DIV class="inforate">
                <span id="idCurRate"></span>
                </DIV>
            </DIV>
        </content>
        
        
        <content data-ref="m1">
            <DIV>
                <canvas class="DIAGRAM" id='idDiagramRate' width='340' height='110'></canvas>
            </DIV>
            
            <button class="btrun" id="idSwap" onclick="Swap()">Swap</button>  
            <DIV class="tleft">Finish swap Price: <input id="idLimitRate" disabled="1"></DIV>
            
            <DIV id="idTestMode" style="display:none">
                <BR>
                <button class="btrun" onclick="DoTestCreate()">TestCreate</button>  
                <button class="btrun" onclick="DoTestSwap()">TestSwap</button>
                <button class="btrun" id="idSwap2" onclick="DoTestSwap2()">TestSwap2</button>
            </DIV>
            
            
            
            <!--<table id="idSwapGrid" class="grid">-->
            <!--    <tr>-->
            <!--        <th id="Item.Num">Num</th>-->
            <!--        <th id="Avg(Item.Amount)" class="bold">Amount</th>-->
            <!--        <th id="TokenName(+Item.Asset)" class="">Asset</th>-->
            <!--        <th id="Item.Text" class="">Text</th>-->
            <!--        <th id="(RetBtStateOrder(Item))">Action</th>-->
            <!--    </tr>-->
            <!--</table>-->
            
        </content>

         
        
        <content data-ref="m2">
            <div id="idLiqList" style="display:none">
            
                <DIV>
                    <button class="btnew" onclick="SetAddMode(1)">+ New Position</button>
                </DIV>
                
                <table id="idOrders" class="grid">
                    <tr>
                        <!--<th id="Item.ID">ID</th>-->
                        <!--<th id="Item.As1">As1</th>-->
                        <!--<th id="Item.As2">As2</th>-->
                        <!--<th id="Item.Acc1">Acc1</th>-->
                        <!--<th id="Item.Acc2">Acc2</th>-->
                        <!--<th id="Item.Amount1">Amount1</th>-->
                        <!--<th id="Item.Amount2">Amount2</th>-->
                        <!--<th id="Item.State">State</th>-->
                        <!--<th id="RetDateOrder(Item)" class="">Date</th>-->
                        <th id="(RetPairInfo(Item))" class="">Pair</th>
                        <th id="RetRate(Item.From)" class="tr_min_max">Min</th>
                        <th id="RetRate(Item.To)" class="tr_min_max">Max</th>
                        <!--<th id="RetAmountOrder(Item)" class="bold">Stake</th>-->
                        <!--<th id="Item.Amount1">Amount1</th>-->
                        <!--<th id="Item.Amount2">Amount2</th>-->
                        <!--<th id="(GetFeeOrder(Item))" class="">Fee</th>-->
                        <th id="RetFeee(Item.KFee)" class="tr_fee">Fee</th>
                        <th id="(RetBtStateOrder(Item))">Action</th>
                    </tr>
                </table>
                
                <button class="btupdate" onclick="DrawOrderList(undefined,1)">⭮ Update</button>
                
                    

            </div>
            
            <div id="idLiqAdd2" style="display:none">
                <div id="idCreateBase" style="display:none">
                    <p>This pool requires the creation of special accounts to store the pool's coins. To do this, click the "Create a basic account" button below.</p>
                    <button class="btrun" id="idBtCreate" onclick="CreateBase()">Create base</button>
                </div>
                    
                <div id="idCreateSwap" style="display:none">
                    <p>This pool must be created and initialized before you can add liquidity. To initialize, select the initial price for the pool. The fee for the creation is 100 TERA</p>
                    <div><b>Init Price </b><input id="idCreateRate" type="number" step="0.1" value="" onchange="RefreshInfo()"></div>
                    <button class="btrun" id="idBtCrSwap" onclick="CreateSwap()">Create swap</button>
                </div>
    
                
                <div id="idLiq" style="display:none">
                    <DIV id="idPlacePool">
                        <div id="idZoomBox">
                            <button class="bt1" onclick="Add2(+1)">-</button>
                            <button class="bt1" onclick="Add2(-1)">+</button>
                        </div>
                        <canvas class="DIAGRAM" id='idDiagrPool' width='340' height='110'></canvas>
                        <input type="hidden" id="idZoom" value="1">
                    </DIV>
                    
                    
                    <h3>Set Price Range</h3>
                    
                    <DIV class="row">
                        <DIV class="asset assetrate">
                            <DIV>Min Price</DIV>
                            <DIV class="row">
                                <button class="bt1" onclick="Add1(1,-1);">-</button>
                                <input id="idRate1" autocomplete="off"  oninput="SetPoolAmounts();RefreshInfo(1);">
                                <button class="bt1" onclick="Add1(1,1);CheckIDRate(2);">+</button>
                            </DIV>
                        </DIV>
                        <DIV class="dmiddle">
                            <button class="btreset" onclick="ResetRange()">x</button>
                        </DIV>
                        
                        <DIV class="asset assetrate">
                            <DIV>Max Price</DIV>
                            <DIV class="row">
                                <button class="bt1" onclick="Add1(2,-1);CheckIDRate(1)">-</button>
                                <input id="idRate2" autocomplete="off"  oninput="SetPoolAmounts();RefreshInfo(1);">
                                <button class="bt1" onclick="Add1(2,1)">+</button>
                            </DIV>
                        </DIV>
                    </DIV>
                    <DIV class="feerow">
                    Fee tier:
                    <select id="idFee" value="2" onchange="SaveValues()">
                        <option value="0">0.0%</option>
                        <option value="1">0.1%</option>
                        <option value="2">0.2%</option>
                        <option value="3">0.3%</option>
                        <!--<option value="4">0.4%</option>-->
                        <!--<option value="5">0.5%</option>-->
                    </select>
                    </DIV>
                    
    
                    <button class="btrun" id="idAddLiq" onclick="SendAddPool()">Add liq</button>
                </div>
            </div>    
        </content>
        
        <content data-ref="m1 m2">
            <DIV id="idInfo" style="text-align:left"></DIV>
        </content>
        
        <content data-ref="mConf">

            
            <table class="gridconf">
                <tr>
                    <td>Slippage tolerance</td>
                    <td><input id="idSlippage" class="short" type="number" step="0.1" value="0.1"></td><td>%</td>
                </tr>
                <tr>
                    <td>Precision of numbers</td>
                    <td><input id="idPrecision" type="number" class="short" value="3"></td>
                </tr>
                <!--<tr>-->
                <!--    <td>Transaction deadline</td>-->
                <!--    <td><input id="idAlive" type="number" class="short" value="20"></td><td>minutes</td>-->
                <!--</tr>-->
                <tr>
                    <td>Expert mode</td>
                    <td><input id="idExpert" type="checkbox" class="short" value="false"></td>
                </tr>
                
                

            
            </table>

        </content>

        
        <content data-ref="mOwn">
            <DIV class="ownpanel">
            <button onclick="DoGetEmpty(1)">Empty</button>
            <button onclick="DoGetOwner(1)">Get Common</button>
            <button onclick="DoSetOwner(1)">Set Common</button>
            <button onclick="DoHistory()">Do history</button>
            <!--<button onclick="DelPair()">DelPair</button>-->
            </DIV>
            <br>
            
            <TEXTAREA id="idSettings" rows="20" cols="40" style="width:95%"></TEXTAREA>
            <br>
            <DIV class="ownpanel">
            <button onclick="DoGetSwap()">GetSwap</button>
            <button onclick="DoGetEmpty(0)">Empty</button>
            <button onclick="DoGetOwner(0)">Get Proxy</button>
            <button onclick="DoSetOwner(0)">Set Proxy</button>
            </DIV>
        </content>
    

   </DIV>
</DIV>

<div id="idSendingOverlay"></div>
<DIV id="idSendingBox">
    <div align="center" id="idSendingInfo"></div>
    <button class="SendBt"  onclick="CancelSendingBox()">X</button>
</DIV>

