﻿
<script>
    //Main Icon:
    //  /file/7013/0      - my local
    //  /file/76620239/0  - mainet
    //  /file/22679081/0  - test net




    var LocalMap={Farm:"8040001",Cow:"8012000",SaleM:"13610000",SaleH:"13626000",Hay:"8043000",Milk:"8020001",PostCard:"14443000",Market:"14811000"};
    var MainMap={Farm:"76620705000",Cow:"76620409000",SaleM:"76620791000",SaleH:"76620805000",Hay:"76620740000",Milk:"76620773000",PostCard:"76683128000",Market:"76911125000",Chicken:"77193083000"};
    var TestMap={Farm:"22678970001",Cow:"22678992000",SaleM:"0",SaleH:"0",Hay:"22679066000",Milk:"22679039000",PostCard:"0",Market:"0",Chicken:"0"};

    var TokenMap={"LOCAL-JINN":LocalMap,"TEST-JINN":TestMap,"MAIN-JINN":MainMap}[NETWORK_NAME];

    ALL_ACCOUNTS=1;
    var ShowParams;
    var glInfo;
    var glPendingMap={};

    var StrArrowR=`<div class="column short">→</div>`;
    var StrArrowL=`<div class="column short">←</div>`;

    var EventMode=0;


    window.addEventListener('Event',function(e)
    {
        var Data=e.detail;
        var Description=Data.Description;
        if(Data.Error)
        {
            SetError(Description);
        }
        else
        {
            var Params=Description.Params;
            if(Params)
            {
                delete glPendingMap[Params.ID];
            }
        }
    });

    window.addEventListener('Init',async function()
    {
        glInfo=await ReadInfo();

        if(SMART.Num===7)
        {
            if(!glInfo.TestEnv)
            {
                await CreateTestEnv();
                glInfo=await ReadInfo();
            }
            OPEN_PATH=JSON.stringify({Account:100,ID:TokenMap.Farm});

        }

        if(OPEN_PATH==="event21")
        {
            if(!USER_ACCOUNT.length)
            {
                EventMode=1;
                SetVisibleBlock("idAirDrop",1);
                ACreateNewAccount(0,"Farmer");
                return;
            }
            CheckEventMode()
        }

        if(OPEN_PATH && OPEN_PATH.substr(0,1)==="{")
            ShowParams=JSON.parse(OPEN_PATH);

        if(ShowParams)
        {
            if(ShowParams.Account)
            {
                ShowToken();
            }

            SetVisibleBlock("idTokenShow",1);
            return;
        }



        await UpdateFillUser();
        SetVisibleBlock("idPage",1);

    });
    window.addEventListener('UpdateInfo',UpdateFillUser);


    async function UpdateFillUser()
    {
        await CheckEventMode();
        var Owner=!!USER_ACCOUNT_MAP[SMART.Owner];
        //console.log(Owner)
        SetVisibleBlock("idBtMain",Owner);
        SetVisibleBlock("idBtMint",Owner);


        if(ShowParams)
        {
            return ShowToken();
        }




        var Arr=AccToListArr(USER_ACCOUNT);
        FillSelect("idAccount",Arr);


        SetVisibleBlock("PageProxy",Owner);
        SetVisibleBlock("PageNFT",Owner);
        SetVisibleBlock("PageMint",Owner);


        //CalcMintInfo();

        idTotal.innerText=FLOAT_FROM_COIN(await AGetBalance(0,SMART.Num,""))+" "+SMART.ShortName;
        if(SMART.IconBlockNum)
            idImg.src=GetURLPath("/file/" + SMART.IconBlockNum + "/" + SMART.IconTrNum);


    }

    async function ShowToken()
    {
        if(!ShowParams)
            return;

        if(ShowParams.Mode==="Market")
            return;

        var ID=ShowParams.ID;


        //проверяем тип токена
        if(ID)
        {
            var Row=await AGetBalance(ShowParams.Account,SMART.Num,ID);
            var bPost=Row&&Row.Type=="PostCard";

            var bHaveAcc=!!USER_ACCOUNT_MAP[ShowParams.Account];

            SetVisibleBlock("idPostCard",bPost && bHaveAcc);

            StrImg=GetImgStr(ID,"ImgTitle");
            if(bPost)
            {
                SetVisibleBlock("idPostCard0",!Row.Status);
                SetVisibleBlock("idPostCard1",Row.Status==1);

                await ShowImgTitle(ID);
                if(Row.Status==1)
                {
                    await ShowPostCard(Row);
                }

                ConvertTokenImages();
                return;
            }
        }


        //Фарминг
        SetVisibleBlock("idBtHome",1);
        SetVisibleBlock("idBtMarket",1);
        SetVisibleBlock("idBtSwap",1);


        var StrImg;
        if(ShowParams.Mode==="All")
        {
            ID=TokenMap.Farm;
            idTokenTitle.innerText="FARMING";
            idTotalSupply.innerText="";
            StrImg=GetImgStr(ID,"ImgTitle");
        }

        await ShowImgTitle(ID);
        await ShowFarm(idFarmInfo,ShowParams.Account,ShowParams.Mode==="All"?undefined:ID,ShowParams.Mode==="All");
        ConvertTokenImages();
    }

    async function ShowImgTitle(ID)
    {
        if(idImgTitle.WasID!==ID)
        {
            idImgTitle.WasID=ID;
            idImgTitle.innerHTML=GetImgStr(ID,"ImgTitle");
        }
        if(!ShowParams.Mode)
        {
            var Row0=await AGetBalance(0,SMART.Num,ID);
            var Amount0=FLOAT_FROM_COIN(Row0);
            idTotalSupply.innerText=Amount0?"Total supply: "+Amount0:"--";
        }

    }



    async function ShowFarm(Element,Account,TokenID,bAll)
    {
        if(!Account || !glInfo)
            return;

        var BlockNum=GetCurrentBlockNumByTime();
        window.context={BlockNum:BlockNum};

        var Items=await AGetBalance(Account,SMART.Num);
        var Map=MapFromArr(Items.Arr);

        var bHaveAcc=!!USER_ACCOUNT_MAP[Account];

        var Str="";
        if(TokenID!==undefined)
        {
            var Item=glInfo.Map[TokenID];
            if(Item)
            {
                var Row=GetBalanceRow(Map,TokenID);
                var Amount=FLOAT_FROM_COIN(Row);

                Str+=`<div class="title_amount">Amount: <b>${Amount?Amount:0}</b></div>`;
                var Name=Item.Name;
                if(TokenID)
                    Name+=" ("+TokenID+")";
                idTokenTitle.innerText=Name;
            }
            else
            {
                idTokenTitle.innerText=TokenID;

            }
        }

        if(bAll)
        {
            //баланс звезд
            Str+=GetStarCard(Map);
        }

        for(var ID in glInfo.Map)
        {
            var RowGener=glInfo.Map[ID];
            var Row=GetBalanceRow(Map,ID);
            var Amount=Row.Amount;
            if(!Amount || !RowGener.Output)
                continue;

            var TimeDelta=BlockNum-Row.BlockTime;

            var StrRes="";
            var StrRed="";
            var Err=0;
            for(var i=0;RowGener.Input && i<RowGener.Input.length;i++)
            {
                //есть список необходимых ресурсов
                var Resource=RowGener.Input[i];
                var Need=Resource.Count;
                if(Resource.res)
                    Need=Need*Amount;

                var RowRest=GetBalanceRow(Map,Resource.ID);


                var BlockTime=RowRest.BlockTime;
                var StrCount=Avg(Need);
                if(Need>RowRest.Amount)
                {
                    Err=1;
                    StrRed="red";

                    var Delta=Need-RowRest.Amount;
                    StrCount=""+Avg(RowRest.Amount)+"/"+Avg(Need);

                    //расчет времени если отправим ресурсы прямо щас
                    BlockTime = (RowRest.Amount*BlockTime + Delta*BlockNum)/(RowRest.Amount+Delta);
                }

                //для определения сколько прошло времени - берем минимальное из всех
                if(Resource.res)
                    TimeDelta=Math.min(TimeDelta,BlockNum-BlockTime);


                StrRes+=`
                <div class="row row_resource blue">
                    ${GetItemLinkStr(Resource.ID,StrCount,StrRed)}
                </div>`;

            }

            for(var p=0;p<RowGener.Output.length;p++)
            {
                //есть правило генерации продукта
                var Product=RowGener.Output[p];


                //token filter
                if(!bAll && TokenID!=ID && TokenID!=Product.ID)
                    continue;


                //console.log(Product);
                var K=(TimeDelta)/Product.ProcessTime;
                if(K>1)
                    K=1;
                var Percent=Math.floor(K*100);
                var Count=Avg(Amount*Product.Count);

                var btDisabled=0;
                var PendingTime=glPendingMap[ID];
                var DeltaPending=Date.now()-(PendingTime?PendingTime:0);
                if(Err || Percent<100 || !bHaveAcc || DeltaPending<10*1000)
                {
                    btDisabled=1;
                }

                Str+=`
                <div class="row_card">
                    ${GetItemLinkStr(ID,Amount,"green box_product")}
                    <div class="row">
                        <div class="column">
                            ${StrRes}
                        </div>
                        ${StrRes?StrArrowR:""}
                        ${GetItemLinkStr(Product.ID,Count,"orange")}
                    </div>
                    <div class="column center">
                        <div class="${StrRed}"><B>${Percent}%</B></div>
                        <button class="bt_doit" onclick="DoFarming(${Account},'${ID}',this)" ${btDisabled?"disabled":""}>do it</button>
                    </div>
                </div>`;

            }
        }

        if(Str && TokenID)
            Str=`<p class="title1">Farm processing on the account: <b>${Account}</b></p>`+Str;

        if(Element.StrHtml===Str)
            return;

        Element.innerHTML=Str;
        Element.StrHtml=Str;



    }

    function GetStarCard(Map)
    {
        //баланс звезд
        var Row=GetBalanceRow(Map,"");
        var Str=`
        <div class="row_card noborder">
            ${GetItemLinkStr("",Avg(Row.Amount),"orange")}
        </div>`;
        return Str;
    }


    //--------------------------------------------------------------------------- PostCard
    async function CreatePostCard()
    {
        if(!ShowParams)
            return;
        var ID=ShowParams.ID;
        var Title=idPostTitle0.value;
        var Message=idPostMessage0.value;
        if(!Message && !Title)
            return;


        var StrPath=idPostImg0.value;
        if(!StrPath)
        {
            StrPath="https://terafoundation.org/files/dapps/farm/postcard1.png";
            //StrPath=idPostImg0.value;
        }


        SetStatus("Send Tx");
        idCreatePostCard.disabled=1;
        var Ret=await ASendCall(0,"CreatePostCard",{ID:ID,Title:Title,image:StrPath,Message:Message},[],ShowParams.Account);
        SetStatus(Ret.Text);
        idCreatePostCard.disabled=0;
        if(Ret.result)
            CloseDapp();
    }
    async function ShowPostCard(Row)
    {
        idTotalSupply.innerText="";
        var BlockNum=Math.floor(+Row.ID/1000);
        var TrNum=(+Row.ID)%1000;
        var Ret=await AReadTx(BlockNum,TrNum);
        if(Ret)
        {
            idPostTitle1.innerText=Ret.Title;
            idPostMessage1.innerText=Ret.Message;
        }
        else
        {
            idImgTitle.innerHTML="Error read from block: "+BlockNum+"/"+TrNum;
        }
    }


    //--------------------------------------------------------------------------- Lib

    function GetItemLinkStr(ID,Count,classname)
    {
        if(String(Count).length<=1)
            Count="&nbsp;"+Count+"&nbsp;";


        var DopClass="";
        if(!ID)
        {
            DopClass=" star";
        }
        var Str=`
        <div class="item_link ${classname?classname:""}" onclick="OpenItem('${ID}')">
            ${GetImgStr(ID,"pict"+DopClass)}<div class="place_count"><div class="pict_count${DopClass}">${Count}</div></div>
        </div>
        `;

        return Str;
    }

    function GetImgStr(ID,classname)
    {
        if(!classname)
            classname="";
        if(!ID)
        {
            var SrcPath=GetURLPath("/file/" + SMART.IconBlockNum + "/" + SMART.IconTrNum)
            return `<img class="${classname}" src="${SrcPath}">`;
        }
        return GetTokenImage(ID,classname);
    }

    function OpenItem(ID)
    {
        if(ShowParams)
        {
            ShowParams.ID=ID;
            ShowParams.Mode=undefined;
            ShowToken();
        }
    }
    function OpenHome()
    {
        if(ShowParams)
        {
            ShowParams.ID=TokenMap.Farm;
            ShowParams.Mode="All";
            ShowToken();
        }
    }
    async function ShowMarket(SwapMode)
    {
        if(!ShowParams || !ShowParams.Account || !glInfo)
            return;

        var Items=await AGetBalance(ShowParams.Account,SMART.Num);
        var Map=MapFromArr(Items.Arr);
        var bHaveAcc=!!USER_ACCOUNT_MAP[ShowParams.Account];

        var MarketID=TokenMap.Market;
        //ShowParams.ID=MarketID;
        ShowParams.Mode="Market";


        idTokenTitle.innerText="MARKET";
        StrImg=GetImgStr(MarketID,"ImgTitle");
        idTotalSupply.innerText="";

        await ShowImgTitle(MarketID);


        if(!SwapMode)
            SwapMode="Sale";

        var StrRows="";
        for(var ID in glInfo.Map)
        {
            var MaxCount=1e9;
            var RowProd=glInfo.Map[ID];
            var Price;
            if(RowProd.SwapSale)
            {
                if(RowProd.SwapCount)
                    Price=RowProd.SwapStar/RowProd.SwapCount;
                else
                {
                    RowProd.SwapCount=0;
                    Price=RowProd.SwapSale;
                }

                if(SwapMode==="Buy")
                {
                    Price=Price*glInfo.SwapPriceK;
                }
                else
                {
                    if(RowProd.DappBuy && RowProd.DappBuy<Price)
                    {
                        Price=RowProd.DappBuy;
                    }
                    else
                    {
                        MaxCount=RowProd.SwapCount;
                        Price=Price/glInfo.SwapPriceK;
                    }
                }
            }
            else
            {
                if(SwapMode==="Sale")
                    Price=RowProd.DappBuy;
                else
                    Price=RowProd.DappSale;
            }



            if(!Price)
                continue;

            //console.log(RowProd)

            var Row=GetBalanceRow(Map,ID);
            var Amount=Row.Amount;


            var BtEnable=bHaveAcc;
            if(!Amount && SwapMode==="Sale" || !MaxCount)
                BtEnable=0;

            //BtEnable=1;

            Price=(SwapMode==="Sale"?Avg(Price):AvgBig(Price));
            if(SwapMode==="Buy")
            {
                var StrCount="1";
            }
            else
            {
                MaxCount=Math.min(MaxCount,Amount);
                var StrCount="1/"+MaxCount;
            }

            StrRows+=`
            <div class="row row_market">
                ${GetItemLinkStr(ID,StrCount,"box_product")}
                ${SwapMode==="Sale"?StrArrowR:StrArrowL}
                ${GetItemLinkStr("",Price,"orange")}
                <button class="bt_doit" onclick="MarketSwap(${ID},'${SwapMode}',${Price},${MaxCount})" ${BtEnable?"":"disabled"}>${SwapMode}</button>
            </div>`;


        }

        //баланс звезд
        var Str=GetStarCard(Map);

        Str+=`
        <div class="market_page">
            <div class="market_mode">
            <button onclick="ShowMarket('Sale')" class="bt_mode ${SwapMode==="Sale"?"bt_active":""}">SALE</button>
            <button onclick="ShowMarket('Buy')"  class="bt_mode ${SwapMode==="Buy"?"bt_active":""}">BUY</button>
            </div>
            <div class="market_filter">
            </div>
            <div>
            ${StrRows}
            </div>
        </div>`;

        idFarmInfo.innerHTML=Str;
        idFarmInfo.StrHtml=Str;
        ConvertTokenImages();

    }
    function CalcAmountSum(Price)
    {
        var Amount=(+idItemAmount.value)>>>0;
        var Sum=Amount*Price;
        idAmountSum.innerHTML="STAR amount: "+Avg(Sum);
    }
    function MarketSwap(ID,Mode,Price,MaxAmount)
    {
        DoConfirm(`Type amount items for ${Mode}`,`${MaxAmount<1e9?"Max: "+MaxAmount:""}<BR>
        <input class="amount_value" type='number' id='idItemAmount' min=1 max=${MaxAmount} value='1' oninput="CalcAmountSum(${Price})"><BR>
        <DIV id="idAmountSum"></DIV>`,async function()
        {

            var Amount=(+idItemAmount.value)>>>0;
            if(!Amount)
                return;
            if(Amount>MaxAmount)
                return SetError("Error amount, max="+MaxAmount);
            if(Mode==="Sale")
            {
                var RowAmount=FLOAT_FROM_COIN(await AGetBalance(ShowParams.Account,SMART.Num,ID));
                if(Amount>RowAmount)
                    throw "Error amount: "+Amount+"/"+RowAmount;
            }
            else
            {
                var Sum=Amount*Price;
                var RowAmount=FLOAT_FROM_COIN(await AGetBalance(ShowParams.Account,SMART.Num,""));
                if(Sum>RowAmount)
                    return SetError("Error STAR amount: "+RowAmount+"/"+Sum);

            }


            SetStatus("Sent "+Mode);
            var Params={Mode:Mode,Amount:Amount,ID:ID};
            var Ret=await ASendCall(0,"MarketSwap",Params,[],ShowParams.Account);
            console.log("Ret:",Ret);
            glInfo=await ReadInfo();
            UpdateDappInfo();
            ShowMarket(Mode);

        });
        setTimeout(function()
        {
            CalcAmountSum(Price);
        },10)
    }

    function OpenMain()
    {
        ShowParams=undefined;

        SetVisibleBlock("idTokenShow",0);
        SetVisibleBlock("idPage",1);

    }


    function Avg(Sum)
    {
        return Math.floor(Sum*100)/100;
    }
    function AvgBig(Sum)
    {
        return Math.floor(0.5+Sum*100)/100;
    }
    function GetName(ID)
    {
        var Data=glInfo.Map[ID];
        if(!Data)
            return ID;
        else
            return Data.Name;//+" ("+ID+")";
    }

    function MapFromArr(Arr)
    {
        var Map={};
        for(var i=0;Arr && i<Arr.length;i++)
        {
            var Item=Arr[i];
            Item.Amount=FLOAT_FROM_COIN(Item);
            Map[Item.ID]=Item;
        }
        return Map;
    }
    function GetBalanceRow(Map,ID)
    {
        var Row=Map[ID];
        if(!Row)
            Row={BlockTime:context.BlockNum,Amount:0};
        return Row;
    }



    async function DoFarming(Account,ID,Bt)
    {
        Bt.disabled=true;
        glPendingMap[ID]=Date.now();
        SetStatus("Send Tx");
        var Ret=await ASendCall(0,"Farming",{ID:ID},[],Account)
        SetStatus(Ret.Text);
        UpdateDappInfo();
        ShowToken();
    }


    async function ReadInfo()
    {
        return ACall(0,"ReadInfo",{});
    }


    function SetAccount()
    {
        idAccount2.value=idAccount.value;
    }

    async function DoMint()
    {
        var Account=+idAccount2.value;
        if(!Account)
            return SetError("Enter account, pls");
        SetStatus("Sent Mint");
        var Ret=await ASendCall(0,"DoMint",{Account:Account,Amount:+idAmount.value,ID:idID.value,Type:idType.value},[],SMART.Owner);
        console.log("Ret:",Ret);
        UpdateDappInfo();
    }
    function DoFastMint()
    {
        if(!ShowParams)
            return SetError("No ShowParams");
        var ID=ShowParams.ID;
        DoConfirm("Type Amount","<input id='idMintAmount' value='10'>",async function()
        {
            SetStatus("Sent Mint");
            var Row=await AGetBalance(ShowParams.Account,SMART.Num,ShowParams.ID);
            var Params={Account:ShowParams.Account,Amount:+idMintAmount.value,ID:Row.ID,Type:Row.Type};
            var Ret=await ASendCall(0,"DoMint",Params,[],SMART.Owner);
            console.log("Ret:",Ret);
            UpdateDappInfo();
            ShowToken();
        });
    }

    async function DoBurn()
    {
        var Account=+idAccount2.value;
        if(!Account)
            return SetError("Enter account, pls");
        SetStatus("Sent Burn");
        var Ret=await ASendCall(0,"DoBurn",{Account:+Account,Amount:+idAmount.value,ID:idID.value},[],SMART.Owner);
        UpdateDappInfo();
        console.log("Ret:",Ret);
    }

    async function DoGetBalance()
    {
        idBalance.value="";
        var Value=await ACall(0,"DoGetBalance",{Account:+idAccount2.value,Currency:idCurrency.value?+idCurrency.value:SMART.Num,ID:idID.value?idID.value:undefined});
        if(Value)
        {
            idBalance.value=JSON.stringify(Value,"",4);
        }

    }

    //------------------------------ NFT
    function NewTokenParams()
    {
        var Params=
            {
                image:"",
                //animation:"",
                name:"",
                description:"",
                //Amount:1,
            }
        idTokenParams.value=JSON.stringify(Params,"",4);
    }

    async function SendTokenMint()
    {
        if(!idTokenParams.value)
            return;


        var Params=JSON.parse(idTokenParams.value);
        Params.Account=+idAccount.value;

        var Ret=await ASendCall(0,"MintNFT",Params,[],SMART.Owner);
        //console.log("Ret:",Ret);
        if(Ret.result && Ret.TR)
            idID.value=""+(Ret.TR.BlockNum*1000+Ret.TR.TrNum);

    }


    ////
    async function CheckEventMode()
    {
        if(EventMode && USER_ACCOUNT.length)
        {
            if(!ShowParams)
                ShowParams={Account:USER_ACCOUNT[USER_ACCOUNT.length-1].Num,ID:TokenMap.Farm};

            var Row=await AGetBalance(ShowParams.Account,SMART.Num,TokenMap.Chicken);
            if(!FLOAT_FROM_COIN(Row))
            {
                idDropInfo.innerText="2. Идет отправка игровых предметов";
                if(EventMode==1)
                    ASendCall(0,"Event21",{},[],ShowParams.Account);
                EventMode=2;
            }
            else
            {
                EventMode=0;
                OpenHome();
                SetVisibleBlock("idAirDrop",0);
                SetVisibleBlock("idTokenShow",1);
            }
        }
    }





    //--------------------------------------------------------------------------- TEST ENV CREATE
    async function CreateTestEnv()
    {
        var Info=SetInit();
        Info.TestEnv=1;
        var ArrAll=[];
        ArrAll.push(ASendCall(0,"SetInfo",Info,[],SMART.Owner));

        //ID

        var Arr=[TokenMap.Farm,TokenMap.Cow, TokenMap.SaleM,TokenMap.SaleH,TokenMap.PostCard,TokenMap.Chicken,""];
        //var Arr=[TokenMap.PostCard];

        var Account=+idAccount.value;
        if(!Account)
            return SetError("Enter account, pls");
        for(var i=0;i<Arr.length;i++)
        {
            var ID=Arr[i];
            SetStatus("Send tx for create: "+ID);
            var Params={Account:Account,Amount:1,ID:ID};
            if(ID===TokenMap.PostCard)
                Params.Type="PostCard";
            if(ID==="")
                Params.Amount=20000;

            ArrAll.push(ASendCall(0,"DoMint",Params,[],SMART.Owner));
        }

        await Promise.all(ArrAll);


        UpdateDappInfo();
        ShowToken();
    }


    function SetInit()
    {
        var Info={Map:{},SwapPriceK:1.1};



        //Ферма: 0 -> Сено
        Info.Map[TokenMap.Farm]=
            {
                Name:"Farm",
                Input:[],
                Output:[{ID:TokenMap.Hay,ProcessTime:10,Count:1}],
            };
        //Корова: Сено -> Молоко
        Info.Map[TokenMap.Cow]=
            {

                Name:"Cow",
                SwapSale:1000,
                DappBuy2:500,
                Input:[{ID:TokenMap.Hay,Count:1,res:1}],
                Output:[{ID:TokenMap.Milk,ProcessTime:15,Count:2}],
            };

        //Сено
        Info.Map[TokenMap.Hay]=
            {

                Name:"Hay",
                // DappSale:1,
                // DappBuy:0.5,
                SwapSale:1,
                // SwapStar:0,
                // SwapCount:0,

                Storage:[{MaxCount:5}],
            };

        //Молоко
        Info.Map[TokenMap.Milk]=
            {

                Name:"Milk",
                DappSale:3,
                DappBuy:2,
                Storage:[{MaxCount:5}],
            };

        //   Info.Map["77193083000"]= {
        //   "Name": "Chicken",
        //   "Price": 0,
        //   "Output": [
        //     {
        //      "ID": "77193108000",
        //      "ProcessTime": 10,
        //      "Count": 1
        //     }
        //   ]
        //   };

        //   Info.Map["77193108000"]= {
        //   "Name": "Eggs",
        //   "DappSale2": 1,
        //   "DappBuy": 1,
        //   "Dapp": 1,
        //   "Storage": [
        //     {
        //      "MaxCount": 5
        //     }
        //   ]
        //   };



        //Деньги
        Info.Map[""]=
            {
                Name:"Star",
            }


        idSettings.value=JSON.stringify(Info,"",1);

        return Info;
    }


    //--------------------------------------------------------------------------- Owner mode
    var OwnerParamArr=
        [
            {MethodSet:"SetProxy", MethodGet:"GetProxy", Empty:{CommonNum:0}},
            {MethodSet:"SetInfo", MethodGet:"ReadInfo"},
        ]


    async function DoSetOwner(Num)
    {
        if(!idSettings.value)
            return SetError("Need set params");

        var Params=JSON.parse(idSettings.value);
        var Item=OwnerParamArr[Num];
        if(Item.MethodSet==="SetProxy" && typeof Params.CommonNum!=="number")
            return SetError("Error JSON format");
        if(Item.MethodSet!=="SetProxy" && typeof Params.CommonNum==="number")
            return SetError("Error JSON format");
        //console.log(Params)

        SetStatus("Sent "+Item.MethodSet);
        return ASendCall(0,Item.MethodSet,Params,[],SMART.Owner);
    }

    async function DoGetOwner(Num)
    {
        idSettings.value="";



        var Item=OwnerParamArr[Num];

        var Value=await ACall(0,Item.MethodGet,{});
        if(Value)
        {
            idSettings.value=JSON.stringify(Value,"",1);
        }
        return Value;
    }




    //--------------------------------------------------------------------------- dapp-inner lib ver 60
    async function AReadBlock(BlockNum,TrNum)
    {
        var Data={cmd:"DappBlockFile",Params:{BlockNum:BlockNum,TrNum:TrNum}}
        return ASendData(Data,2);
    }
    async function AReadTx(BlockNum,TrNum)
    {
        var RetData=await AReadBlock(BlockNum,TrNum);
        if(RetData.Type===135 || RetData.Type===136)
        {
            var Params;
            if(RetData.Params)
                try{Params=JSON.parse(RetData.Params);}catch (e){console.error(e)};
            return Params;
        }
    }

    function LoadTabMenu()
    {
        var LocalNum={"LOCAL-JINN":536,"TEST-JINN":11688933,"MAIN-JINN":75152874}[NETWORK_NAME];
        var Str="";
        var Path="/file/"+LocalNum+"/0";
        if(LocalNum)
            Str+=`<script src="${GetURLPath(Path)}">TAB4</script`+">";

        document.write(Str);
        }
        LoadTabMenu();

</script>

<style>
body
{
    color:white;
    background-color: #274457;
    padding: 0;
    margin: 0;
}


.page
{
    background-color: #274457;
    color: white;
    max-width: 600px;
    height: 100%;
    min-height: 550px;
}

.row_acc
{
    display: flex;
    width:310px;
    height: 32px;
    margin: 10px 0px 10px 0px;
    padding:0;
}
.row_acc p
{
    margin-top: 4px;
}
.row_acc select
{
    max-width:170px;
    height: 26px;
}

.btn_acc
{
    cursor:pointer;
    width:26px;
    height:26px;
    margin:0px 5px;
    padding:0px;
    border: 0;
    border-radius:5px;
    fill:#000;
}
.btn_acc:hover
{
    cursor: pointer;
    fill: #cb763a;
}

.title
{
    width:70px;
}

.row
{
    display: flex;
    line-height: 24px;
    align-items: center;
}
.row_card
{
    display: flex;
    flex-direction: column;
    align-items: center;

    line-height: 24px;
    margin: -1px 5px 0 5px;
    padding: 0 5px 5px 0;
    border: 1px solid #727473;
    font-size:12px;
    max-width:320px;
}
.noborder
{
    border: none;
}
.box_product
{
    border2: 1px solid #727473;
    margin:0;
    padding:0;
    height:80px;
    width:80px;
}
.pict
{
    height:80px;
    width:80px;

    border-radius: 5px;
    margin:2px;
    border2: 1px solid orange;
}
.star
{
    margin-top: 20px;
    height:40px;
    width:40px;
}

.place_count
{
    display:flex;
    position: relative;
    top:-40px;
    left:-30px;
    height:14px;
    width:16px;
}
.pict_count
{
    height:14px;
    width:16px;
    width:60px;

    padding:2px;

    color:black;
    background-color:rgba(255,255,255,0.6);
    border: 1px solid gray;
    border-radius: 10px;

    font-weight: bold;
    font-size:14px;
    line-height: 16px;
    text-align:left;
}
.red .pict_count
{
    color: red;
    background-color:rgba(255,255,255,0.8);
}
.item_link
{
    display2: flex;
    line-height: 24px;
    height:80px;
    width:80px;
    align-items: center;
    border2: 1px solid red;
}
.item_link:hover
{
    cursor: pointer;
    text-decoration: underline;
}


.column
{
    display: flex;
    flex-direction: column;
}

.row_resource
{
    margin-top: 0px;
    padding:0 0 0 10px;
    line-height: 16px;
}
.small
{
    font-size:12px;
}
.short
{
    width:30px;
}

.bt_doit
{
    width:55px;
    height:22px;
    padding:0;
    margin: 0 5px;
    border:none;
    border-radius: 5px;
}
.right
{
    text-align: right;
}
.left
{
    text-align: left;
}
.center
{
    display: flex;
    justify-content: center;
    align-content: center;
    text-align: center;
}
.red
{
    color:red;
}
.green
{
    color:lightgreen;
}
.orange
{
    color:orange;
}
.blue
{
    color:lightblue;
}

.title1
{
    margin:5px;
}
.title_amount
{
    color:#C0C996;
    margin:5px;
}

.row button
{
    width:80px;
    height:26px;
}




.row2
{
    height: 30px;
    line-height: 30px;
}
#idCurrency
{
    width:50px;
}

#idTokenShow
{
    font-family: Helvetica,Arial,sans-serif;
}



.ImgTitle
{
    text-align: center;
    padding: 2px;
    margin: 5px auto;
    width: 160px;
    height: 160px;

    background-color: #f2f3f5;
    box-shadow: 0 0 5px rgb(0 0 0);
    border-radius: 10px;
}

.flex_center
{
    display:flex;
    justify-content: center;

}
.MenuMain
{
    display: flex;
    flex-direction: column;
    align-items: center;
    position:absolute;
    top: 5px;
    left: 5px;
    border:none;
    width:70px;
}

.MenuItem
{
    border:none;
    height:30px;
    width:100%;
    margin-bottom:5px;

    color:gray;
    border: 1px solid gray;
    background-color: transparent;
    border-radius: 5px;
}
#idTotalSupply
{
    color:lightblue;
    font-size:12px;
}

#idPostCard0
{
    display2:flex;
    margin:10px;
}
#idPostCard0 span
{
    width:80px;
    height: 20px;
    text-align:left;
    margin-left:5px;
    line-height: 20px;
}
#idPostCard0 input
{
    width:242px;
    height: 20px;
    line-height: 20px;
}
#idPostCard0 TEXTAREA
{
    margin:0;
}
#idPostCard1
{
    color: pink;
    margin:10px;
    font-size: 18px;
    font-family: "Consolas";
}
#idPostMessage1
{
    font-size: 14px;
    color: lightblue;
    font-family: "Consolas";
    text-align:left;
    padding:10px;
}

#idCreatePostCard
{
    width:100px;
    height:30px;
    font-weight:bold;
}

/*Market*/
.row_market
{
    justify-content: space-around;
    margin: -1px 20px 0 20px;
    padding: 10px;
    border: 1px solid #727473;
    max-width: 320px;
}
.row_market .price
{
    width: 100px;
}
.row .bt_doit
{
    width: 50px;
}

.amount_value
{
    height: 26px;
    width:100px;
    font-size:20px;
    border-radius:5px;
}

.market_mode
{
    display:flex;
    flex-direction: row;
    justify-content: center;

    margin: 5px 0 0 0;
}
.bt_mode
{
    height: 26px;
    width:100px;
    margin:0 0 0 -1px;
    background-color: #274457;
    border: 1px solid #727473;
    border-radius2:5px;
}

.bt_active
{
    background-color: #1D384D;
    color:orange;
}


button
{
    color:white;
    background-color: #67BC69;
}

button:hover
{
    cursor: pointer;
    color:orange;
}

button:disabled
{
    cursor: auto;
    color:white;
    background-color: #A9B9B7;
}
button:active
{
    box-shadow: inset 2px 2px 2px rgba(68, 83, 104, 0.5);
    cursor: progress;
}

#idDropInfo
{
    color: yellow;
}

::-webkit-scrollbar
{
    width: 2px;
}
::-webkit-scrollbar-track-piece
{
    background-color: transparent;
    -webkit-border-radius: 6px;
}
::-webkit-scrollbar-thumb
{
    background: #73889e;
}


</style>



<DIV align='center' id="idTokenShow" style="display:none">
    <DIV class="MenuMain">
    <button class="MenuItem" id="idBtHome" onclick="OpenHome()" style="display:none">FARM</button>
    <button class="MenuItem" id="idBtMarket" onclick="ShowMarket()" style="display:none">MARKET</button>
    <button class="MenuItem" id="idBtSwap" onclick="OpenLink('/dapp/164#SWAP/182/0')" style="display:none">SWAP⇗</button>
<button class="MenuItem" id="idBtMain" onclick="OpenMain()" style="display:none">MAIN</button>
    <button class="MenuItem" id="idBtMint" onclick="DoFastMint()" style="display:none">MINT</button>
    <button class="MenuItem" id="idBtExit" onclick="CloseDapp()">EXIT</button>
    </DIV>
    <DIV id="idTokenTitle" class="green"></DIV>
    <DIV id="idImgTitle"></DIV>
    <DIV id="idTotalSupply"></DIV>

    <DIV id="idFarmInfo"></DIV>

    <div id="idPostCard" style="display:none">
    <div id="idPostCard0" style="display:none;">
    <div class="row"><span>TITLE:</span><input id="idPostTitle0"></div>
<div class="row"><span>IMG URL:</span><input id="idPostImg0"></div>
<TEXTAREA id="idPostMessage0" rows="15" cols="40" style="width:95%"></TEXTAREA>
    <button id="idCreatePostCard" onclick="CreatePostCard()">CREATE</button>
    </div>
    <div id="idPostCard1" style="display:none">
    <div id="idPostTitle1"></div>
    <div id="idPostMessage1"></div>
    </div>
    </div>
    </DIV>

    <DIV align='center' id="idAirDrop" style="display:none">
    <BR>
    <h2>Ожидайте</h2>
    <h3 id="idDropInfo">1. Идет создание счета</h3>
</DIV>


<DIV align='center' id="idPage" style="display:none">
    <DIV class="page">
    <div class="row_acc">
    <p>Account:</p>
<select size="1" id="idAccount" onchange="">
    <option value="0">Loading...</option>
</select>
<button class="btn_acc" onclick="CreateNewAccount()">
    <svg viewBox="0 0 16 16" style="height:16px"><path d="M0 7h16v2H0V7z"></path><path d="M9 0v16H7V0h2z"></path></svg>
</button>
</div>

<menu>
<item data-ref="minfo" id="PageInfo">
    Info
    </item>

    <item data-ref="m1" id="PageMint">
    Mint
    </item>

    <item data-ref="m2" id="PageNFT">
    NFT
    </item>

    <item data-ref="m3" id="PageProxy">
    Owner
    </item>

    </menu>



    <content data-ref="minfo">
    <img id="idImg" src="">
    <h2>Total Supply: <b id="idTotal"></b></h2>
</content>



<content data-ref="m1">
    <DIV class="row">
    <DIV class="title">Account:</DIV><input type="number" id="idAccount2" value=""> <button onclick="SetAccount()">Set</button>
</DIV>
<DIV class="row">
    <DIV class="title">Amount:</DIV><input type="number" id="idAmount" value="1">
</DIV>
<DIV class="row">
    <DIV class="title">Token ID:</DIV><input type="number" id="idID" value=""><input id="idType" style="width:80px">
</DIV>
<DIV class="row">
    <button onclick="DoMint()">Mint</button><button onclick="DoBurn()">Burn</button>
</DIV>


<BR>
<DIV class="row flex_center">
    <input type="number" id="idCurrency">
    <button onclick="DoGetBalance()" style="width:100px">Get balance</button>
</DIV>

<TEXTAREA id="idBalance" rows="15" cols="40" style="width:95%"></TEXTAREA>
    </content>


    <content data-ref="m2">


    <h3>Creating a new ID</h3>

<div class="row2">
    <button onclick="NewTokenParams()">New NFT card</button>
<button onclick="SendTokenMint()">Send NFT card</button>
</div>
<BR>
Token attributes:
    <TEXTAREA id="idTokenParams" rows="20" cols="40" style="width:95%"></TEXTAREA>
    </content>

    <content data-ref="m3">
    <br>

    <button onclick="SetInit()">Init</button>
    <button onclick="DoGetOwner(1)">Get Info</button>
<button onclick="DoSetOwner(1)">Set Info</button>
<br>
<TEXTAREA id="idSettings" rows="20" cols="40" style="width:95%"></TEXTAREA>
    <button onclick="DoGetOwner(0)">Get Proxy</button>
<button onclick="DoSetOwner(0)">Set Proxy</button>
</content>



</DIV>
</div>

